<th:block lang="en" xmlns:th="https://www.thymeleaf.org"  th:fragment="main">
    
	<div id="siteFormModel" class="w3-modal">
		<div class="w3-modal-content w3-animate-zoom" style="max-width: 800px">
			<header class="w3-container">
				<div class="box-header with-border" align="center">
					<span onclick="document.getElementById('siteFormModel').style.display='none'" class="w3-button w3-display-topright">&times;</span>
					<h3 class="box-title" th:text=#{siteAdd.title}></h3>
				</div>
			</header>
			<div class="box box-primary">

				<form role="form" id="siteData" method="POST" th:object="${site}" th:action="@{${siteUrl} + '/saveUpdate'}">
					<div class="box-body">
						<div class="col-md-6">
							<input type="hidden" id="id" name="id" />
							<div class="form-group" align="left">
								<th:block th:text=#{siteAdd.siteId} /> 
								<input type="text" class="form-control" th:field="*{code}">
							</div>
							<div class="form-group" align="left">
								<th:block th:text=#{siteAdd.siteName} /> 
								<input type="text" class="form-control" th:field="*{name}">
							</div>
							<div class="form-group" align="left">
								<th:block th:text=#{siteAdd.email} /> 
								<input type="email" class="form-control" th:field="*{email}">
							</div>
							<div class="form-group" align="left">
								<th:block th:text=#{siteAdd.tel} /> 
								<input type="tel" class="form-control" th:field="*{contactNumber}" placeholder="000-000-000"
									pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}">
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group" align="left">
								<th:block th:text=#{siteAdd.address} /> 
								<input type="text" class="form-control" th:field="*{address}">
							</div>
							<div class="form-group" align="left">
								<th:block th:text=#{siteAdd.region} /> 
								<select class="form-control" th:field="*{region}" id="region">
									<option value="0" th:text=#{scAdd.selectRegion} ></option>
									<option th:each="region : ${regions}" th:text="${region.region}"
										th:value="${region.id}">
								</select>
							</div>
							<div class="form-group" align="left">
								<th:block th:text=#{siteAdd.prefecture} /> 
								<select class="form-control" th:field="*{prefecture}">
									<option value="0" th:text = #{siteAdd.selectPrefecture}></option>	
									<option th:each="prefecture : ${prefectures}" th:text="${prefecture.prefecture}"
										th:value="${prefecture.prefecture}">							 
								</select>
							</div>
							<div class="form-group" align="left">
								<th:block th:text=#{siteAdd.latitude} /> 
								<input type="number" class="form-control" th:field="*{latitude}">
							</div>
							<div class="form-group" align="left">
								<th:block th:text=#{siteAdd.longitude} /> 
								<input type="number" class="form-control" th:field="*{longitude}">
							</div>
							
						</div>
					</div>

					<div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
						<button onclick="document.getElementById('siteFormModel').style.display='none'" type="button" class="w3-button w3-red">
						<span th:text=#{common.cancel}></span></button>
						<input type="submit" id="site_save_button" class="w3-button w3-green" th:value=#{common.submit} />
					</div>
				</form>
			</div>
		</div>
	</div>
    
</th:block>