<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:with="siteUrlWithId = ${'/site/'+site.id},
siteUrl = ${'/site'}, siteText = ${'Site'}, siteId = ${site.id}, ticketUrl = ${'/ticket'}, userUrl = ${'/user'}">
<head>
	<title><th:block th:text="${@environment.getProperty('global.application.title')}+' | '+#{pageTitle.siteView}" /></title>
	<th:block th:replace="common/head-include :: main"></th:block>
	
</head>
<body style="overflow: auto;">
<div class="box">
	<!-- <div class="box-header">
		<h3>String Map</h3>
		<hr>
	</div> -->
	<div class="box-body">
		<div class="row" style="margin: 0;">
			<div class="col-md-10">
				<div id="canvas-base">
					<canvas id="canvas" style="border:1px solid #ccc"></canvas>
					<div id="div-device-info"></div>
				</div>
				<br><br>
			</div>
			<div id="dabx" class="col-md-2" style="overflow-y: auto;">
				<h4 class="text-center text-success"><i class="fa fa-th-large"></i> Devices</h4>
				<hr>
				<table class="table table-stripped table-condensed-custom" id="tbl_item">
					<tbody id="tbody-objects"></tbody>
				</table>
				<br>
				<br>
			</div>
		</div>
	</div>
</div>
<script th:src="@{/js/jquery-ui.js}"></script>
<script th:src="@{/js/fabric.min.js}"></script>
<script th:src="@{/js/string-map.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/

	var from = 0;
	var working = false;
		
	$(document).ready(function(){		
		var mapJson = /*[[${site.mapJson}]]*/'';
		loadCanvasFromJsonDisableEditing(mapJson);
		loadTreeData(from);
	});

	function loadTreeData(from) {
		var working = true;

		$.ajax({
				url: "/site/" + [[${site.id}]] + "/devices/" + from + "/1",
				type: 'GET',
				contentType: false,
				processData: false,
				dataType: 'json',
				success: function(data){
				appendTreeData(data).then(function() {
					updateStrInMap().then(function() {
						working = false;          	 
					});
				});
			},
		});
		
		return working;
	}

	jQuery(function($) {
		$('#dabx').on('scroll', function() {
			if($(this).scrollTop() + $(this).innerHeight() >= ($(this)[0].scrollHeight - 25)) {
				
				
				if (!working) {
					loadTreeData(++from);
					//alert('end reached');
					//console.log(from);

				}

			}
		})
	});
	
	function appendTreeData(data){
		console.log(data);
		var dfd = new $.Deferred();

		//console.log(data);
		$.each(data, function(i, pcs) {
			$.each(pcs['jcbs'],function(k,jcb) {
				var jcbTr = $('<tr/>');
				jcbTr.append('<td class="object jcb" id="'+jcb.id+'">JCB-'+jcb.objectId+'</td>');
				$('#tbody-objects').append(jcbTr);
				var strArray=[];
				$.each(jcb['panelStrings'],function(l,panelString) {
					var strTr = $("<tr/>");
					strTr.append("<td/>");
					var strTd = $('<td class="object str" id="'+panelString.id+'"/>')
						.text('STR-'+panelString.objectId)
						.appendTo(strTr);
					$('#tbody-objects').append(strTr);
					strArray.push(panelString);
					
						var panelArray=[];
					$.each(panelString['panels'],function(l,panel) {
						var panelTr = $("<tr/>");
						panelTr.append("<td/>").append("<td/>");
						var panelTd = $('<td class="object panel" id="'+panel.id+'"/>')
							.text('Panel-'+panel.objectId)
							.appendTo(panelTr);
						$('#tbody-objects').append(panelTr);
						panelArray.push(panel);
					});
					strMap[panelString.id]=panelArray;
				});
				jcbMap[jcb.id]=strArray;
				//jcbTd.append(strTr);
				//jcbTr.append(jcbTd);
				//$('#tbody-objects').append(jcbTr);
				
				
			});
		});
		//console.log(jcbMap);
		//ul-jcb

		dfd.resolve();
		return dfd.promise();
	}


/*]]>*/
</script>
<!-- <script type="text/javascript">
	$(document).ready(function(){
	    alert('test');
	    console.log([[${site}]]);
	   // var mapJson = [[${site.mapJson}]];
	   // loadCavasFromJson(mapJson);	    
	});
	
</script> -->

</body>
