<th:block lang="en" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:fragment="main">
	<script>
		$(document).ready(function() {
			loadSiteTable();
			resizeHandler($('#site_table'));
			document.addEventListener('keypress', function(event) {
				if (event.keyCode == 13) {
					loadSiteTable();
				}
			});
		});

		function loadSiteTable() {

			$('#search_table_div').show();
			var region = $.trim($('#region').val()) == '' ? 0 : $.trim($('#region').val());
			var serviceCenter = $.trim($('#service-center').val()) == '' ? 0 : $.trim($('#service-center').val());
			
			var search_key= region + '/' + serviceCenter;
			$.ajax({
				url : '[[${baseUrl}]][[${siteUrl}]]/data/' + search_key,
				type : "GET",
				success : function(data) {
					if (data != null) {
						setSiteTable(data.payload[0]);
					}
				},
				error : function(xhr) {
					toastr.error(MSG_DATA_LOADING_FAIL);
				}
			});

		}

		function setSiteTable(list) {
			if ($.isEmptyObject(list)) {
				$('#site_table').DataTable().clear();
				$('#site_table').DataTable({
					"stateSave" : true,
					'order' : [],
					'columnDefs' : [ {
						"targets" : [ 0, 3, 4, 5, 6 ],
						"orderable" : false
					} ],
					"searching" : true,
					"paging" : true,
					"lengthChange" : true,
					"pageLength" : 5,
					"lengthMenu" : [ 5, 10, 20, 50 ],
					"bInfo" : true,
					"info" : true,
					"buttons" : [],
					"destroy" : true,
					"language" : {
						"emptyTable" : "No Data Found !!!",
						search : "",
						searchPlaceholder : "Search..."
					}
				});
			} else {
				$("#site_table")
						.DataTable(
								{
									"stateSave" : true,
									'order' : [],
									'columnDefs' : [ {
										"targets" : [ 0, 3, 4, 5, 6 ],
										"orderable" : false
									} ],
									"searching" : true,
									"paging" : true,
									"lengthChange" : false,
									"pageLength" : 5,
									"lengthMenu" : [ 5, 10, 20, 50 ],
									"bInfo" : false,
									"info" : false,
									"buttons" : [],
									"destroy" : true,
									"data" : list,
									"deferRender" :    false,
								    "scrollY" :        '50vh',
							        "scrollX" :        true,
								    "scrollCollapse" : true,
								    "scroller" :       true,
								    "keys" :           true,
									"columns" : [
											{
												"width" : "5%",
												"data" : "id",
												render : function(data, type,
														row, meta) {
													return meta.row + 1;
												}
											},
											{
												"width" : "20%",
												"data" : function(data) {
													return data.code;
												}
											},
											{
												"width" : "20%",
												"data" : function(data) {
													return data.name;
												}
											},
											{
												"width" : "20%",
												"data" : function(data) {
													return data.company.name;
												}
											},
											{
												"width" : "10%",
												"data" : function(data) {
													return data.siteRegion.region;
												}
											},
											{
												"width" : "10%",
												"data" : function(data) {
													return data.prefecture;
												}
											},
											{
												"width" : "15%",
												"data" : "id",
												mRender : function(data, type,
														row) {
													
													var columnHtml;
													
													var hasRoleAdmin = [[${#authorization.expression('hasRole("ROLE_ADMIN")')}]];
																										
													if(hasRoleAdmin){													
														columnHtml = '<a href="[[${siteUrl}]]/'+data+'" type="button" class="btn btn-warning btn-xs"> '
																+ '<i class="fa fa-list"></i> '
																+ '</a> '
																+ '<button type="button" class="btn btn-primary btn-xs"'
																+ 'onclick="loadSiteFormModel('
																+ data
																+ ' )">'
																+ '<i class="fa fa-pencil-square-o"></i>'
																+ '</button> '
																+ '<button class="btn btn-danger btn-xs site_delete_button"'+
											'data-id="'+data+'"'+
											'id="site_delete_button">'
																+ '<i class="fa fa-trash"></i>'
																+ '</button> ';
															
													}else{
														columnHtml = 'NONE';
													}

													var assignColumnHtml = '<a href="[[${siteUrl}]]/'+data+'" type="button" class="btn btn-warning btn-xs"> '
															+ '<i class="fa fa-list"></i> '
															+ '</a> '
															+'<button class="btn btn-danger btn-xs site_unassign_button"'+
																	'data-id="'+data+'"'
															+ 'id="site_unassign_button">'
															+ '<i class="fa fa-minus-square"></i>'
															+ '</button> ';

													var assign = "[[${assign}]]";
													if (assign) {
														return (assignColumnHtml);
													}

													return (columnHtml);
												}
											} ]
								});

				$('.site_delete_button').confirmation({
					onConfirm : function(event, element) {
						siteDeleteItem(site_last_clicked_id);
					},
					onCancel : function(event, element) {
					}
				});
				$('.site_unassign_button').confirmation({
					onConfirm : function(event, element) {
						siteUnassignItem(site_last_clicked_unassign_id);
					},
					onCancel : function(event, element) {
					}
				});
			}
		}

		function loadSiteFormModel(id) {
			document.querySelector('#siteFormModel .box-title').innerHTML = SITE + " " + (id ? EDIT : ADD);

			document.querySelector('#siteData #id').value = "";
			$("#siteData").get(0).reset();
			$("#siteData").validate().resetForm();
			$("#siteData").find('.form-group').each(function() {
				$(this).removeClass('has-error');
			});

			$('#site_save_button').attr('disabled', false);

			if (id) {
				$
						.ajax({
							url : "[[${siteUrl}]]/" + id + "/data",
							type : "GET",
							success : function(data) {
								if (!data.status) {
									toastr.error(data.errorMessages);
								} else {
									document.querySelector('#siteData #id').value = data.payload[0].id;
									document.querySelector('#siteData #code').value = data.payload[0].code;
									document.querySelector('#siteData #name').value = data.payload[0].name;
									document.querySelector('#siteData #email').value = data.payload[0].email;
									document
											.querySelector('#siteData #contactNumber').value = data.payload[0].contactNumber;
									document
											.querySelector('#siteData #address').value = data.payload[0].address;
									document.querySelector('#siteData #region').value = data.payload[0].siteRegion.region;
									document
											.querySelector('#siteData #prefecture').value = data.payload[0].prefecture;

									document
											.querySelector('#siteData #latitude').value = data.payload[0].latitude;
									document
											.querySelector('#siteData #longitude').value = data.payload[0].longitude;
								}
							},
							error : function(xhr) {
								toastr.error(MSG_DATA_LOADING_FAIL);
							}
						});
			}

			document.getElementById('siteFormModel').style.display = 'block';

		}

		$("#siteData")
				.validate(
						{
							rules : {
								/***
								"code" : {
									required : true,
									minlength : 4
								},
								"name" : {
									required : true,
									minlength : 4
								},
								"address" : {
									required : true,
									minlength : 4
								},
								"email" : {
									email : true,
									required : true
								},
								"contactNumber" : {
									required : true,
									regx : /^([0-9]{3}-[0-9]{3}-[0-9]{3})$/,
								},
								"region" : {
									required : true,
								},
								"prefecture" : {
									required : true,
								},
								***/
							},
							messages : {
								contactNumber : {
									regx : "invalid phone number.{format ex: 000-000-000}",
								},
							},
							submitHandler : function(form) {
								showLoader();

								var formData = $(form).serializeArray();
								if ("[[${companyId}]]") {
									formData.push({
										name : "companyId",
										value : "[[${companyId}]]"
									});
								}

								$('#site_save_button').attr('disabled', true);
								$
										.ajax({
											url : form.action,
											type : form.method,
											data : formData,
											success : function(data) {
												if (!data.status) {
													$('#site_save_button')
															.attr('disabled',
																	false);
													hideLoader();
													toastr
															.error(data.errorMessages);
												} else if (form.id.value) {
													loadSiteTable();
													document
															.getElementById('siteFormModel').style.display = 'none';
													hideLoader();
													toastr
															.success(MSG_RECORD_UPDATED_SUCCESS);
												} else {
													loadSiteTable();
													document
															.getElementById('siteFormModel').style.display = 'none';
													hideLoader();
													toastr
															.success(MSG_RECORD_SAVED_SUCCESS);
												}
											},
											error : function(xhr) {
												$('#site_save_button').attr(
														'disabled', false);
												hideLoader();
												toastr
														.error(MSG_DATA_LOADING_FAIL);
											}
										});
							}
						});

		var site_last_clicked_id = null;
		$(document).on('click', '.site_delete_button', function(event) {
			site_last_clicked_id = $(this).data("id");
		});

		function siteDeleteItem(id) {
			showLoader();
			if (id) {
				$.ajax({
					url : "[[${siteUrl}]]/" + id + "/delete",
					type : "GET",
					success : function(data) {
						if (!data.status) {
							hideLoader();
							toastr.error(data.errorMessages);
						} else {
							loadSiteTable();
							hideLoader();
							toastr.success(MSG_RECORD_DELETED_SUCCESS);
						}
					},
					error : function(xhr) {
						hideLoader();
						toastr.error(MSG_DATA_LOADING_FAIL);
					}
				});
			}
		}
		
		var site_last_clicked_unassign_id = null;
		$(document).on('click', '.site_unassign_button', function(event) {
			site_last_clicked_unassign_id = $(this).data("id");
		});
		
		function siteUnassignItem(id) {
			showLoader();
			
			let token = $("meta[name='_csrf']").attr("content");
		    let header = $("meta[name='_csrf_header']").attr("content");
			
			if (id) {
				$.ajax({
					url : "[[${baseUrl}]][[${siteUrl}]]/" + id + "/unassign",
					type : "POST",
					headers: {
			            [header]: token,
			            "charset": "UTF-8",
			            "Content-Type": "application/json"
			        },
					success : function(data) {
						if (!data.status) {
							hideLoader();
							toastr.error(data.errorMessages);
						} else {
							loadSiteTable();
							hideLoader();
							toastr.success(MSG_RECORD_DELETED_SUCCESS);
						}
					},
					error : function(xhr) {
						hideLoader();
						toastr.error(MSG_DATA_LOADING_FAIL);
					}
				});
			}
		}
	</script>
   
	<!--chart -->
	<!-- 
	<script th:src="@{/js/Chart.min.js}"></script>
	<script th:src="@{/js/canvasjs.min.js}"></script>
	
	<div>
     <canvas id="myChart"></canvas>
     <canvas id="myChart2"></canvas>
     <canvas id="myChart3"></canvas>
    </div>
	<script>
		var xValues = [ "2017", "2018", "2019", "2020", "2021" ];
		var yValues = [ 75, 49, 80, 24, 55 ];
		var barColors = [ "#E74C3C", "#2ECC71", "#E74C3C", "#2ECC71",
				"#2ECC71" ];

		new Chart("myChart", {
			type : "bar",
			data : {
				labels : xValues,
				datasets : [ {
					backgroundColor : barColors,
					data : yValues
				} ]
			},
			options : {
				legend : {
					display : false
				},

			}
		});

		var xValues = [ "Jan", "Feb", "Mar", "Apr", "May" ];
		var yValues = [ 75, 53, 80, 24, 90 ];
		var barColors = [ "#F4D03F", "#EC7063 ", "#F4D03F", "#EC7063 ",
				"#F4D03F" ];

		new Chart("myChart2", {
			type : "bar",
			data : {
				labels : xValues,
				datasets : [ {
					backgroundColor : barColors,
					data : yValues
				} ]
			},
			options : {
				legend : {
					display : false
				},

			}
		});

		var xValues = [ "Mon", "Tue", "Wed", "Thu", "Fri" ];
		var yValues = [ 70, 55, 85, 75, 90 ];
		var barColors = [ "#45B39D", "#45B39D", "#45B39D", "#45B39D",
				"#45B39D" ];

		new Chart("myChart3", {
			type : "bar",
			data : {
				labels : xValues,
				datasets : [ {
					backgroundColor : barColors,
					data : yValues
				} ]
			},
			options : {
				legend : {
					display : false
				},

			}
		});
	</script>

	<script>
		window.onclick = function() {

			var myChart = new CanvasJS.Chart("myChart", {
				animationEnabled : true,
				title : {
					text : ""
				},
				axisY : {
					title : "",
					titleFontColor : "#4F81BC",
					lineColor : "#4F81BC",
					labelFontColor : "#4F81BC",
					tickColor : "#4F81BC"
				},
				axisY2 : {
					title : "",
					titleFontColor : "#C0504E",
					lineColor : "#C0504E",
					labelFontColor : "#C0504E",
					tickColor : "#C0504E"
				},
				toolTip : {
					shared : true
				},
				legend : {
					cursor : "pointer",
					itemclick : toggleDataSeries
				},
				data : [ {
					type : "column",
					name : "Expected ",
					legendText : "Expected",
					showInLegend : true,
					dataPoints : [ {
						label : "Jan",
						y : 55
					}, {
						label : "Feb",
						y : 49
					}, {
						label : "Mar",
						y : 75
					}, {
						label : "Apr",
						y : 66
					}, {
						label : "May",
						y : 85
					}, {
						label : "Jun",
						y : 78
					} ]
				}, {
					type : "column",
					name : "Actual",
					legendText : "Actual",
					axisYType : "secondary",
					showInLegend : true,
					dataPoints : [ {
						label : "Jan",
						y : 60
					}, {
						label : "Feb",
						y : 40
					}, {
						label : "Mar",
						y : 70.05
					}, {
						label : "Apr",
						y : 63
					}, {
						label : "May",
						y : 90
					}, {
						label : "June",
						y : 70
					} ]
				} ]
			});
			myChart.render();

			function toggleDataSeries(e) {
				if (typeof (e.dataSeries.visible) === "undefined"
						|| e.dataSeries.visible) {
					e.dataSeries.visible = false;
				} else {
					e.dataSeries.visible = true;
				}
				myChart.render();
			}

		}
	</script>

	<div>
     <canvas id="chartContainer-1"></canvas>
   </div>
	<script>
		window.onload = function() {

			var chart = new CanvasJS.Chart("chartContainer-1", {
				animationEnabled : true,
				title : {
					text : ""
				},
				axisY : {
					title : "",
					titleFontColor : "#4F81BC",
					lineColor : "#4F81BC",
					labelFontColor : "#4F81BC",
					tickColor : "#4F81BC"
				},
				axisY2 : {
					title : "",
					titleFontColor : "#C0504E",
					lineColor : "#C0504E",
					labelFontColor : "#C0504E",
					tickColor : "#C0504E"
				},
				toolTip : {
					shared : true
				},
				legend : {
					cursor : "pointer",
					itemclick : toggleDataSeries1
				},
				data : [ {
					type : "column",
					name : "Expected ",
					legendText : "Expected",
					showInLegend : true,
					dataPoints : [ {
						label : "2016",
						y : 74
					}, {
						label : "2017",
						y : 85.8
					}, {
						label : "2018",
						y : 66
					}, {
						label : "2019",
						y : 90
					}, {
						label : "2020",
						y : 55
					}, {
						label : "2021",
						y : 82
					} ]
				}, {
					type : "column",
					name : "Actual",
					legendText : "Actual",
					axisYType : "secondary",
					showInLegend : true,
					dataPoints : [ {
						label : "2016",
						y : 70.5
					}, {
						label : "2017",
						y : 65
					}, {
						label : "2018",
						y : 65
					}, {
						label : "2019",
						y : 64
					}, {
						label : "2020",
						y : 49
					}, {
						label : "2021",
						y : 78
					} ]
				} ]
			});
			chart.render();

			function toggleDataSeries1(e) {
				if (typeof (e.dataSeries.visible) === "undefined"
						|| e.dataSeries.visible) {
					e.dataSeries.visible = false;
				} else {
					e.dataSeries.visible = true;
				}
				chart.render();
			}

		}
	</script>

 -->


</th:block>