<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:with="baseUrl = ${'/site'},baseText = ${'Site'}">
<head>
<title><th:block th:text="${@environment.getProperty('global.application.title')}+' | '+${baseText}" /></title>
<th:block th:replace="common/head-include :: main"></th:block>
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<th:block th:replace="common/loader :: main"></th:block>

	<div class="wrapper">
		<header th:replace="common/header :: main"></header>
		<aside th:replace="common/side-bar :: main"></aside>

		<div class="content-wrapper">
			<section class="content-header">
				<h1>Site</h1>
			</section>

			<section class="content">
				<div class="row">
					<div class="col-md-3">
						<div class="box">

							<div class="box-body p-4">
								<table>
									<tr>
										<td><img th:src="@{/images/center.png}" class="img-circle img-responsive center-block"
												alt="Site Image"></td>
									</tr>

									<tr>
										<td>&nbsp;</td>
									</tr>

									<tr>
										<td><b> Name : <th:block th:text="${site.name}" /></b></td>
									</tr>
									<tr>
										<td><br> <b> Contact Number : <th:block th:text="${site.contactNumber}" /></b></td>
									</tr>
									<tr>
										<td><br> <b>Region : <th:block th:text="${site.region}" /></b></td>
									</tr>
									<tr>
										<td><br> <b>Prefecture : <th:block th:text="${site.prefecture}" /></b></td>
									</tr>
								</table>
							</div>

						</div>

					</div>

					<div class="col-md-9">
						<div class="box">
							<div class="box-header with-border">
								<h3 class="box-title">Sites</h3>
							</div>
							<!-- /.box-header -->
							<div class="box-body">
								<table class="table table-bordered">
									<tr>
										<th style="width: 10px">#</th>
										<th>Site Code</th>
										<th>Region</th>
										<th>Prefecture</th>


									</tr>

									<tr>
										<td>1.</td>
										<td>S006</td>
										<td>Kanto</td>
										<td>Chiba</td>
									</tr>
									<tr>
										<td>2.</td>
										<td>S012</td>
										<td>Chubu</td>
										<td>Gifu</td>
									</tr>
									<tr>
										<td>3.</td>
										<td>S015</td>
										<td>Chubu</td>
										<td>Fukui</td>
									</tr>
									<tr>
										<td>4.</td>
										<td>S025</td>
										<td>Shikoku</td>
										<td>Ehime</td>
									</tr>
								</table>
							</div>
						</div>
					</div>

					
				</div>


			</section>
		</div>

		<!-- <footer th:replace="common/footer :: main"></footer> -->

	</div>

	<th:block th:replace="common/js-include :: main"></th:block>

	<script>
		$('#msbi_site').addClass('active');
	</script>
</body>
</html>
