<th:block th:fragment="session-messages">	
		<script  th:inline="javascript" th:if="${error != null}">
 			alertify.error(
 					/*<![CDATA[*/
					/*[+ [#th:block th:text="${error}" /] +]*/
					/*]]>*/
			);
		</script>
		<script  th:inline="javascript"  th:if="${success != null}">
 			alertify.success(
 					/*<![CDATA[*/
					/*[+ [#th:block th:text="${success}" /] +]*/
					/*]]>*/
			);
		</script>
</th:block>
