<footer lang="en" xmlns:th="https://www.thymeleaf.org"  th:fragment="main" class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> <th:block th:text="${@environment.getProperty('global.application.version')}" />
     </div>
     <strong>Copyright &copy; 2021 <a href=""><th:block th:text="${@environment.getProperty('global.application.name')}" /></a>.</strong> All rights reserved.
</footer>