<th:block th:fragment="generic-fields-hidden-input-for-update">
	<input type="hidden" th:field="*{id}"/>
	<input type="hidden" th:field="*{status}"/>
	<input type="hidden" th:field="*{insertUserAccount.id}"/>
	<input type="hidden" th:field="*{insert_datetime}"/>
	<input type="hidden" th:field="*{updateUserAccount.id}"/>
	<input type="hidden" th:field="*{update_datetime}"/>
</th:block>
