<th:block lang="en" xmlns:th="https://www.thymeleaf.org" th:fragment="main">

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<meta name="description" th:content="${@environment.getProperty('global.application.description')}">
	<meta name="author" th:content="${@environment.getProperty('global.application.author')}">	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel='SHORTCUT ICON' th:href="@{'/images/favicon.ico?v='+ ${@environment.getProperty('global.application.version')}}" />	
	
	<link rel="stylesheet" th:href="@{'/css/loader.css?v='+ ${@environment.getProperty('global.application.version')}}">
	
	<!-- Bootstrap 3.3.7 -->
	<link rel="stylesheet" th:href="@{/vendor/bootstrap/bootstrap.min.css}">
	
	<!-- Font Awesome -->
	<link rel="stylesheet" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}">

	<!-- Ionicons -->
	<link rel="stylesheet" th:href="@{/vendor/Ionicons/css/ionicons.min.css}">

	<!-- Theme style -->
	<link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}">

	<!-- AdminLTE Skins -->
	<link rel="stylesheet" th:href="@{/dist/css/skins/_all-skins.min.css}">	
	
	<link rel="stylesheet" th:href="@{/css/w3.css}">	
	
	<link rel="stylesheet" th:href="@{/vendor/datatables/dataTables.bootstrap.min.css}">		
	<!-- <link rel="stylesheet" th:href="@{/vendor/datatables/jquery.dataTables.min.css}"> -->		
	<link rel="stylesheet" th:href="@{/vendor/datatables/scroller.dataTables.min.css}">		
	<link rel="stylesheet" th:href="@{/vendor/datatables/keyTable.dataTables.min.css}">		
	<link rel="stylesheet" th:href="@{/vendor/toastr/toastr.min.css}">		
	<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.3.1/css/flag-icon.min.css" rel="stylesheet"/>		
	<link rel="stylesheet" th:href="@{'/css/custom.css?v='+ ${@environment.getProperty('global.application.version')}}">	
	
	<!-- jQuery 2.1.4 -->
	<script th:src="@{/js/jquery.min.js}"></script>	
	<script th:src="@{/js/jquery-migrate-3.0.0.min.js}"></script>	
	<script th:src="@{/js/jquery.validate.js}"></script>	
	<script th:src="@{'/js/jquery.validate.config.js?v='+ ${@environment.getProperty('global.application.version')}}"></script>
	
</th:block>
