<header lang="en" xmlns:th="https://www.thymeleaf.org" th:fragment="main" class="main-header">
	<!-- Logo -->
	<a th:href="@{'/dashboard'}" class="logo">
		<!-- mini logo for sidebar mini 50x50 pixels -->
		<span class="logo-mini">
			<img class="img-fluid" th:src="@{/images/icon.png}" width="30" height="30">
		</span>
		<!-- logo for regular state and mobile devices -->
		<img class="img-fluid" th:src="@{/images/icon.png}" width="30" height="30">
		&nbsp;
		<span>
			<b>PVOM Integrator</b>
		</span>
	</a>
	<!-- Header Navbar: style can be found in header.less -->
	<nav class="navbar navbar-static-top" role="navigation">
		<!-- Sidebar toggle button-->
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>
		
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				
				<li class="dropdown user user-menu">
					<a class="dropdown-toggle form-inline" data-toggle="dropdown" aria-expanded="false">
						<!-- <span for="locales" class="form-control-xs" th:text="#{lang.change}"></span>
						: -->
						<select class="form-control-xs" id="locales" th:switch="__${#locale.language}__">
							<option th:value="en" th:text="#{lang.en}" th:selected="${#locale.language == 'en'}"></option>
							<option th:value="ja" th:text="#{lang.ja}" th:selected="${#locale.language == 'ja'}"></option>
						</select>
						
						<th:block th:switch="__${#locale.language}__">
							<span class="flag-icon flag-icon-us" th:style="${#locale.language == 'en' ? 'display:inline-block' : 'display:none'}"></span>
							<span class="flag-icon flag-icon-jp" th:style="${#locale.language == 'ja'? 'display:inline-block' : 'display:none'}"></span>
						</th:block>
					</a>
				</li>
				<li class="dropdown user user-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<img th:src="@{/dist/img/user.png}" class="user-image" alt="User Image">
						<!-- <span class="hidden-xs" th:text="${#request.userPrincipal.principal.username}"></span> -->
						<span id="username" class="hidden-xs wrap" th:text="${session.sessionuser.Username}"></span>
					</a>
					<ul class="dropdown-menu">
						<li class="user-header">
							<img th:src="@{/dist/img/user.png}" class="img-circle" alt="User Image">
							<p>
								<!-- <span class="hidden-xs" th:text="${#request.userPrincipal.principal.username}"></span> -->
								<span id="username" class="hidden-xs wrap" th:text="${session.sessionuser.Username}"></span>
								<small>
									<!-- <span sec:authentication="principal.userType"></span> -->									
									 <span th:text="${session.sessionuser.userType}"></span>	
								</small>
							</p>
						</li>
						<li class="user-footer">
							<div class="pull-left">
								<a href="#" class="btn btn-default btn-flat">
									<b th:text=#{header.profile}></b>
								</a>
							</div>
							<div class="pull-right">
								<a href="javascript:document.forms['logoutForm'].submit()" class="btn btn-default btn-flat">
									<b th:text=#{header.signout}></b>
								</a>
							</div>
						</li>
					</ul>
				</li>
				<li class="ml-4">
					<span data-toggle="control-sidebar"></span>
				</li>
			</ul>
			<form id="logoutForm" method="POST" th:action="@{/logout}"></form>
		</div>
				
	</nav>
</header>