<th:block lang="en" xmlns:th="https://www.thymeleaf.org" th:fragment="main">
	<script th:src="@{/js/loader.js}"></script>
	<!-- <script th:src="@{/js/popper.min.js}"></script> -->
	
	<!-- jQuery UI 1.11.4 -->
	<script th:src="@{/vendor/jquery-ui/jquery-ui.min.js}"></script>
	<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
	<script>
	  $.widget.bridge('uibutton', $.ui.button);
	</script>
		
	<!-- Bootstrap 3.3.5 -->
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/bootstrap-confirmation.min.js}"></script>
	<script th:src="@{'/js/bootstrap-confirmation-config.js?v='+ ${@environment.getProperty('global.application.version')}}"></script>
	<!-- Slimscroll -->
	<script th:src="@{/js/jquery.slimscroll.min.js}"></script>
	<!-- FastClick -->
	<script th:src="@{/js/fastclick.js}"></script>
	<script th:src="@{/js/moment.min.js}"></script>
	<!-- AdminLTE App -->
	<script th:src="@{/dist/js/adminlte.min.js}"></script>
	<script th:src="@{/dist/js/app.min.js}"></script>
	<script th:src="@{/dist/js/demo.js}"></script>

	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.scroller.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.keyTable.min.js}"></script>
	<script th:src="@{/vendor/toastr/toastr.min.js}"></script>
	<script th:src="@{'/js/toastr.config.js?v='+ ${@environment.getProperty('global.application.version')}}"></script>
	<script th:src="@{'/js/session-message.js?v='+ ${@environment.getProperty('global.application.version')}}"></script>
	<script th:src="@{'/js/project-properties.js?v='+ ${@environment.getProperty('global.application.version')}}"></script>
	<th:block th:switch="__${#locale.language}__">
		<script th:src="@{'/js/common-messages-en.js?v='+ ${@environment.getProperty('global.application.version')}}" th:if="${#locale.language == 'en'}"></script>
		<script th:src="@{'/js/common-messages-ja.js?v='+ ${@environment.getProperty('global.application.version')}}" th:if="${#locale.language == 'ja'}"></script>
	</th:block>
	<script th:src="@{'/js/logout.js?v='+ ${@environment.getProperty('global.application.version')}}"></script>
	<script th:src="@{'/js/lang-config.js?v='+ ${@environment.getProperty('global.application.version')}}"></script>
	<script th:src="@{'/js/dataTable.config.js?v='+ ${@environment.getProperty('global.application.version')}}"></script>

	<script th:src="@{/js/jquery.timeago.js}"></script>	
	<script th:src="@{/js/pager-functions.js}"></script>
	<script>
	
		if($('.scroll-to-target').length){
			$(".scroll-to-target").on('click', function() {
				var target = $(this).attr('data-target');
			   // animate
			   $('html, body').animate({
				   scrollTop: $(target).offset().top
				 }, 1500);
		
			});
		}
		function headerStyle() {
			if($('.main-header').length){
				var windowpos = $(window).scrollTop();
				var siteHeader = $('.main-header');
				var scrollLink = $('.scroll-to-top');
				if (windowpos >= 200) {
					siteHeader.addClass('fixed-header');
					scrollLink.fadeIn(300);
				} else {
					siteHeader.removeClass('fixed-header');
					scrollLink.fadeOut(300);
				}
			}
		}
		
		headerStyle();
		
		$(window).on('scroll', function() {
			headerStyle();
		});
		
	</script>
</th:block>

