<div lang="en" xmlns:th="https://www.thymeleaf.org" th:fragment="main" class="loader">

	<script>
	  var prevToggleStatus = localStorage.getItem("prevToggleStatus");
	  if(prevToggleStatus){
	  	$("body").addClass(prevToggleStatus);
	  }
	</script>

    <!-- <img th:src="@{/images/logo.svg}"> -->
    <h2 th:text=#{common.loadingText}></h2>
    <h2>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </h2>
</div>