<!DOCTYPE html>		

<th:block lang="en" xmlns:th="https://www.thymeleaf.org"  th:fragment="common" th:if="${page != null && page.content != null && page.content.size() &gt; 0 }" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"> 
	<div class="row">
		<div class="col-xs-6 dataTables_info">
			<div class="text-gray-900 clearfix pagination no-margin pull-" th:text="@{'Showing ' + ${(page.number * page.size) + 1} +' to ' + ${(page.number * page.size) + page.content.size() } + ' of ' + ${page.totalElements} + ' entries '}"></div>
		</div>
		<div class="col-xs-6">
			<ul class="clearfix pagination no-margin pull-right">
		  		<li class="page-item" th:if="${page.hasPrevious()}">
		  			<a class="page-link" th:href="@{'?page=' + ${page.number-1} + '&size=' + ${page.size}}">Previous</a>
		  		</li>
		  		<li class="page-item disabled" th:unless="${page.hasPrevious()}">
		  			<a class="page-link">Previous</a>
		  		</li>
		
		       	<th:block  th:each=" i : ${#numbers.sequence( 0 , (page.totalPages-1) >= 0 ? (page.totalPages-1) : 0)}">
		          	
		  			<li class="page-item disabled active" th:if="${(page.number + 5) == i || ((page.number - 5) == i) && i != 0 }">
	          			<a class="page-link" th:text="${'...'}"></a>
	          		</li>
	          		
	          		<th:block th:if="${(page.number + 4) < i || (page.number - 4) > i }">
			        	<li class="page-item" th:if="${i == 0}">
				  			<a class="page-link" th:href="${urlBuilder.replaceQueryParam('page', i).replaceQueryParam('size', page.size).toUriString()}" th:text="${'FIRST'}"></a>
				  		</li>
			          	<li class="page-item" th:if="${page.totalPages-1 == i}">
				      		<a class="page-link" th:href="${urlBuilder.replaceQueryParam('page', i).replaceQueryParam('size', page.size).toUriString()}" th:text="${'LAST'}"></a>
				      	</li>
		        	</th:block>
		          	
		        	<th:block th:unless="${(page.number + 4) < i || (page.number - 4) > i }">
			        	<li class="page-item disabled active" th:if="${page.number == i}">
			          		<a class="page-link" th:text="${i+1}"></a>
			          	</li>
			          	<li class="page-item" th:unless="${page.number == i}">
		        			<a class="page-link" th:href="${urlBuilder.replaceQueryParam('page', i).replaceQueryParam('size', page.size).toUriString()}" th:text="${i+1}"></a>
		        		</li>
		        	</th:block>
		       	</th:block>
		       	
		      	<li class="page-item" th:if="${page.hasNext()}">
		      		<a class="page-link" th:href="@{'?page=' + ${page.number+1} + '&size=' +${page.size}}">Next</a>
		      	</li>
		      	<li class="page-item disabled" th:unless="${page.hasNext()}">
		      		<a class="page-link">Next</a>
		      	</li>
		      	
			</ul>
		</div>    	
   	</div>
    <script type="text/javascript"  th:inline="javascript">
		function getURLParameter(url,name) {
		    return (RegExp(name + '=' + '(.+?)(&|$)').exec(url)||[,null])[1];
		}

		$(document).ready(function(){

			$("ul.pagination li a").click(function(e){
				var searchform = $("form[id*='searchForm']");
				var isDisabled = $(this).parent(".disabled").length;
				
				if(searchform.length && !isDisabled){
					e.preventDefault();
					var href = $(this).attr('href');
					
					var actionUrl = href.substring(0,href.indexOf("?"));
					
					var pageStart = $("<input>")
					               .attr("type", "hidden")
					               .attr("name", "page").val(getURLParameter(href, 'page'));
					var pageSize = $("<input>")
					               .attr("type", "hidden")
					               .attr("name", "size").val(getURLParameter(href, 'size'));
					               
					searchform.append($(pageStart));	
					searchform.append($(pageSize));
					searchform.attr('action',actionUrl);
					searchform.submit();					
				}			
			});
		}); 
	</script>	
</th:block>



