<aside lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="main" class="main-sidebar">
	<section class="sidebar">
		<div class="user-panel">
			<div class="pull-left image">
				<img th:src="@{/dist/img/user.png}" class="img-circle" alt="User Image">
			</div>
			<div class="pull-left info">
				<p>
					<!-- <span id="username" class="hidden-xs wrap" th:text="${#request.userPrincipal.principal.username}"></span> -->
					<span id="username" class="hidden-xs wrap" th:text="${session.sessionuser.Username}"></span>	
				</p>
				<a href="#">
					<!-- <i class="fa fa-circle text-success"></i> <span sec:authentication="principal.userType"></span> -->
					<i class="fa fa-circle text-success"></i> <span th:text="${session.sessionuser.userType}"></span>					
				</a>
			</div>
		</div>

		<ul class="sidebar-menu">
			<li class="header">MAIN NAVIGATION</li>
			<li id="msbi_dashboard">
				<a th:href="@{'/dashboard'}" id="ambi_dashboard">
					<i class="fa fa-dashboard" aria-hidden="true"></i>
					<span th:text=#{menu.dashboard}></span>
				</a>
			</li>
			<li id="msbi_company" sec:authorize="hasRole('ROLE_ADMIN')">
				<a th:href="@{'/company'}">
					<i class="fa fa-building"></i>
					<span th:text=#{menu.company}></span>
				</a>
			</li>
			<li id="msbi_service_center" sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_USER')">
				<a href="/service-center">
					<i class="fa fa-briefcase"></i>
					<span th:text=#{menu.servicecenter}></span>
				</a>
			</li>
			<li  id="msbi_site" sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_USER')">
				<a href="/site">
					<i class=" fa fa-th"></i>
					<span th:text=#{menu.site}> </span>
				</a>
			</li>
			<li  id="msbi_user" sec:authorize="hasRole('ROLE_ADMIN')">
				<a href="/user">
					<i class="fa fa-user"></i>
					<span th:text=#{menu.user}></span>
				</a>
			</li>
			
			<li id="msbi_ticket" sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_USER')">
				<a href="/ticket">
					<i class="fa fa-newspaper-o"></i>
					<span th:text=#{menu.ticket}></span>
				</a>
			</li>
			<li id="msbi_setting" sec:authorize="hasRole('ROLE_ADMIN')">
				<a th:href="@{'/setting'}">
					<i class="fa fa-cogs"></i>
					<span th:text=#{menu.settings}></span>
				</a>
			</li>
			<li id="msbi_entryexit" sec:authorize="hasRole('ROLE_ADMIN')">
				<a th:href="@{'/entryexit'}">
					<i class="fa fa-id-badge"></i>
					<span th:text=#{menu.entryexit}></span>
				</a>
			</li>
		</ul>
	</section>
	<script type='text/javascript'>	
		$('#ambi_dashboard').click(function (e) {
			e.preventDefault();
			var region = localStorage.getItem("region");
			var serviceCenter = localStorage.getItem("serviceCenter");
			if(!region){
				region = 0;
			}
			if(!serviceCenter) {
				serviceCenter = 0;
			}
			url = $(this).attr('href')  + '?region=' + region + '&serviceCenter=' + serviceCenter;
		    window.location.href = url;
		});
		
	</script>
</aside>