<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:with="baseUrl = ${'/company'},baseText = ${'Company'}">
<head>
<title><th:block th:text="${@environment.getProperty('global.application.title')}+' | '+#{pageTitle.company}" /></title>
<th:block th:replace="common/head-include :: main"></th:block>

</head>
<body class="hold-transition skin-blue sidebar-mini">

	<th:block th:replace="common/loader :: main"></th:block>

	<div class="wrapper">

		<header th:replace="common/header :: main"></header>
		<aside th:replace="common/side-bar :: main"></aside>

		<div class="content-wrapper">
			<section class="content-header">
				<h1>
					<th:block th:text=#{companyList.title} />
				</h1>
			</section>

			<section class="content">

				<div class="row">
					<div class="col-xs-12" style="align: center">
						<div class="box">
							<div class="box-header">
								<div class="box-tools">
									<div class="box-tools">
										<div align="right">

											<button class="btn btn-info btn-sm" style="background-color: #45B39D;"
												onclick="document.getElementById('mdlCsv').style.display='block'">
												<span th:text=#{common.uploadcsv}></span>
											</button>
											<button class="btn btn-info btn-sm" th:attr="onclick=|loadFormModel()|">
												<i class="fa fa-plus"></i>
											</button>

										</div>
									</div>
								</div>
							</div>

							<!-- <div class="box-body table-responsive no-padding">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<th style="width: 10px">#</th>
											<th><th:block th:text="${baseText}" /> ID</th>
											<th><th:block th:text="${baseText}" /> Name</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<th:block th:if="${page.list.size() > 0 }">
											<tr th:each="entity ,rowNumber : ${page.list}">
												<td th:text="${((page.pageNum-1) * page.pageSize) + rowNumber.index + 1}"></td>
												<td th:text="${entity.code}"></td>
												<td th:text="${entity.name}"></td>
												<td>
													<a th:href="@{'/company/'+${entity.id}}">
														<button type="button" class="btn btn-warning btn-xs"
															title="View">
															<i class="fa fa-list"></i>
														</button>
													</a>
													<button type="button" class="btn btn-primary btn-xs"
														th:attr="onclick=|loadFormModel('${entity.id}')|">
														<i class="fa fa-pencil-square-o"></i>
													</button>
													<button class="btn btn-danger btn-xs delete_button"
														title="Delete"  th:data-id="${entity.id}"
														id="delete_button">
														<i class="fa fa-trash"></i>
													</button>
												</td>
											</tr>
										</th:block>
										<th:block th:unless="${page.list.size() > 0 }">
											<tr>
												<td colspan="100%" class="alert alert-danger"
													style="text-align: center;">No Records Available</td>
											</tr>
										</th:block>
									</tbody>
								</table>
							</div>
							<div class="box-footer clearfix">
				            	<th:block lang="en" th:replace="common/pager :: common"> </th:block>				            
				            </div> -->

							<div class="box-body">
								<div id="results-table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
									<div class="box-body">
										<div id="results-table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap table-responsive">
											<table id="main_table" class="table table-bordered table-hover" style="width: 100%;">
												<thead>
													<tr>
														<th style="width: 10px">#</th>
														<th>
															<th:block th:text=#{company.id} />
														</th>
														<th>
															<th:block th:text=#{company.name} />
														</th>
														<th>
															<th:block th:text=#{company.address} />
														</th>
														<th>
															<th:block th:text=#{common.actions} />
														</th>
													</tr>
												</thead>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<!-- <footer th:replace="common/footer :: main"></footer> -->
	</div>

	<div id="formModel" class="w3-modal" data-backdrop="false">
		<div class="w3-modal-content w3-animate-zoom" style="max-width: 800px">
			<header class="w3-container">
				<div class="box-header with-border" align="center">
					<span onclick="document.getElementById('formModel').style.display='none'" class="w3-button w3-display-topright">&times;</span>
					<h3 class="box-title">
						<th:block th:text=#{common.add} />
					</h3>
				</div>
			</header>



			<div class="box box-primary">

				<form role="form" id="companyData" method="POST" th:object="${company}" th:action="@{${baseUrl} + '/saveUpdate'}">
					<div class="box-body">
						<div class="col-md-6">
							<input type="hidden" id="id" name="id" />
							<div class="form-group" align="left">
								<th:block th:text=#{company.id} />
								<input type="text" class="form-control" th:field="*{code}">
							</div>
							<div class="form-group" align="left">
								<th:block th:text=#{company.name} />
								<input type="text" class="form-control" th:field="*{name}">
							</div>
							<div class="form-group" align="left">
								<th:block th:text=#{company.address} />
								<input type="text" class="form-control" th:field="*{address}">
							</div>

						</div>

						<div class="col-md-6">
							<div class="form-group" align="left">
								<th:block th:text=#{company.email} />
								<input type="email" class="form-control" th:field="*{email}">
							</div>
							<div class="form-group" align="left">
								<th:block th:text=#{company.tel} />
								<input type="tel" class="form-control" th:field="*{contactNumber}" placeholder="000-000-000" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}">
							</div>
						</div>

					</div>

					<div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
						<button onclick="document.getElementById('formModel').style.display='none'" type="button" class="w3-button w3-red">
							<span th:text=#{common.cancel}></span>
						</button>
						<input type="submit" id="save_button" class="w3-button w3-green" th:value=#{common.submit} />

					</div>

				</form>

			</div>
		</div>
	</div>


	<!--  <div id="mdlComEdit" class="w3-modal">
		<div class="w3-modal-content w3-animate-zoom" style="max-width: 600px">
			<header class="w3-container">
				<div class="box-header with-border" align="center">
					<span
						onclick="document.getElementById('mdlComEdit').style.display='none'"
						class="w3-button w3-display-topright">&times;</span>
					<h3 class="box-title"><th:block th:text="${baseText}" /> Edit</h3>
				</div>
			</header>
			<div class="box box-primary">
				<form role="form">
					<div class="box-body">
						<div class="form-group">
							<input type="text" class="form-control" id="id" value="COM001">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" id="name"
								value="Company 1">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" id="address"
								value=" Company 1,Hiroshi OHTAKA">
						</div>
						<div class="form-group">
							<input type="email" class="form-control" id="email"
								value="companyone@gmail.com">
						</div>
						<div class="form-group" align="left">
							Contact Number <input type="tel" class="form-control" id="phone"
								name="phone" value="001-995-685"
								pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}">
						</div>


					</div>

					<div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
						<button
							onclick="document.getElementById('mdlComEdit').style.display='none'"
							type="button" class="w3-button w3-red">Cancel</button>
						<button
							onclick="document.getElementById('mdlComEdit').style.display='none'"
							type="button" class="w3-button w3-green">Submit</button>
	
					</div>
				</form>
			</div>
		</div>
	</div> -->


	<div id="mdlCsv" class="w3-modal">
		<div class="w3-modal-content w3-animate-zoom" style="max-width: 500px">
			<header class="w3-container">
				<div class="box-header with-border" align="center">
					<span onclick="document.getElementById('mdlCsv').style.display='none'" class="w3-button w3-display-topright">&times;</span>
					<h3 th:text=#{common.uploadcsv} class="box-title"></h3>
				</div>
			</header>
			<form class="w3-container" action="">
				<div class="box box-primary">

					<form role="form">
						<div class="box-body">
							<div class="form-group" align="left">
								<th:block th:text=#{common.fileselect} />
								<input type="file" accept=".csv" />
							</div>
						</div>
					</form>
					<div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
						<button onclick="document.getElementById('mdlCsv').style.display='none'" type="button" class="w3-button w3-red">
							<span th:text=#{common.cancel}></span>
						</button>
						<button onclick="document.getElementById('mdlCsv').style.display='none'" type="button" class="w3-button w3-green">
							<span th:text=#{common.submit}></span>
						</button>


					</div>

				</div>
			</form>
		</div>
	</div>

	<th:block th:replace="common/js-include :: main"></th:block>

	<script>
		$('#msbi_company').addClass('active');

		$(document).ready(function() {
			loadMainTable();
			resizeHandler($('#main_table'));
			document.addEventListener('keypress', function(event) {
				if (event.keyCode == 13) {
					loadMainTable();
				}
			});
		});

		function loadMainTable() {
			$('#search_table_div').show();
			var search_key = $.trim($('#search_text').val());
			search_key = search_key.length == 0 ? "-1" : search_key;
			$.ajax({
				url : '/company/data/' + search_key,
				type : "GET",
				success : function(data) {
					if (data != null) {
						setMainTable(data.payload[0]);
					}
				},
				error : function(xhr) {
					toastr.error(MSG_DATA_LOADING_FAIL);
				}
			});
		}

		function setMainTable(list) {
			if ($.isEmptyObject(list)) {
				$('#main_table').DataTable().clear();
				$('#main_table').DataTable({
					"stateSave" : true,
					'order' : [],
					'columnDefs' : [ {
						"targets" : [ 3, 4 ],
						"orderable" : false
					} ],
					"searching" : true,
					"paging" : true,
					"lengthChange" : true,
					"pageLength" : 10,
					"bInfo" : true,
					"info" : true,
					"buttons" : [],
					"destroy" : true,
					"language" : {
						"emptyTable" : "No Data Found !!!",
						search : "",
						searchPlaceholder : "Search..."
					}
				});
			} else {
				$("#main_table")
						.DataTable(
								{
									"stateSave" : true,
									'order' : [],
									'columnDefs' : [ {
										"targets" : [ 3, 4 ],
										"orderable" : false
									} ],
									"searching" : true,
									"paging" : true,
									"lengthChange" : false,
									"pageLength" : 10,
									"bInfo" : false,
									"info" : false,
									"buttons" : [],
									"destroy" : true,
									"data" : list,
									"deferRender" :    false,
							        "scrollY" :        '50vh',
							        "scrollCollapse" : true,
							        "scroller" :       true,
							        "keys" :           true,
									"columns" : [
											{
												"width" : "5%",
												"data" : "id",
												render : function(data, type,
														row, meta) {
													return meta.row + 1;
												}
											},
											{
												"width" : "15%",
												"data" : function(data) {
													return data.code;
												}
											},
											{
												"width" : "25%",
												"data" : function(data) {
													return data.name;
												}
											},
											{
												"width" : "35%",
												"data" : function(data) {
													return data.address;
												}
											},
											{
												"width" : "20%",
												"data" : "id",
												mRender : function(data, type,
														row) {
													var columnHtml = '<a href="/company/'+data+'" type="button" class="btn btn-warning btn-xs"> '
															+ '<i class="fa fa-list"></i> '
															+ '</a> '
															+ '<button type="button" class="btn btn-primary btn-xs"'
															+ 'onclick="loadFormModel('
															+ data
															+ ' )">'
															+ '<i class="fa fa-pencil-square-o"></i>'
															+ '</button> '
															+ '<button class="btn btn-danger btn-xs delete_button"'+
										'data-id="'+data+'"'+
										'id="delete_button">'
															+ '<i class="fa fa-trash"></i>'
															+ '</button> ';
													return (columnHtml);
												}
											} ]
								});

				$('.delete_button').confirmation({
					onConfirm : function(event, element) {
						deleteItem(last_clicked_id);
					},
					onCancel : function(event, element) {
					}
				});
			}
		}

		function loadFormModel(id) {
			document.querySelector('#formModel .box-title').innerHTML = COMPANY + " " +  (id ? EDIT : ADD);

			$("#companyData").get(0).reset();
			$("#companyData").validate().resetForm();
			$("#companyData").find('.form-group').each(function() {
				$(this).removeClass('has-error');
			});

			$('#save_button').attr('disabled', false);

			if (id) {
				$
						.ajax({
							url : "/company/" + id + "/data",
							type : "GET",
							success : function(data) {
								if (!data.status) {
									toastr.error(data.errorMessages);
								} else {
									document.querySelector('#companyData #id').value = data.payload[0].id;
									document
											.querySelector('#companyData #code').value = data.payload[0].code;
									document
											.querySelector('#companyData #name').value = data.payload[0].name;
									document
											.querySelector('#companyData #address').value = data.payload[0].address;
									document
											.querySelector('#companyData #email').value = data.payload[0].email;
									document
											.querySelector('#companyData #contactNumber').value = data.payload[0].contactNumber;
								}
							},
							error : function(xhr) {
								toastr.error(MSG_DATA_LOADING_FAIL);
							}
						});
			}

			document.getElementById('formModel').style.display = 'block';

		}

		$("#companyData")
				.validate(
						{
							rules : {
								"code" : {
									required : true,
									minlength : 4
								},
								"name" : {
									required : true,
									minlength : 4
								},
								"address" : {
									required : true,
									minlength : 4
								},
								"email" : {
									email : true,
									required : true
								},
								"contactNumber" : {
									required : true,
									regx : /^([0-9]{3}-[0-9]{3}-[0-9]{3})$/,
								},
							},
							messages : {
								contactNumber : {
									regx : "invalid phone number.{format ex: 000-000-000}",
								},
							},
							submitHandler : function(form) {
								showLoader();
								$('#save_button').attr('disabled', true);
								$
										.ajax({
											url : form.action,
											type : form.method,
											data : $(form).serialize(),
											success : function(data) {
												if (!data.status) {
													$('#save_button').attr(
															'disabled', false);
													hideLoader();
													toastr
															.error(data.errorMessages);
												} else if (form.id.value) {
													loadMainTable();
													document
															.getElementById('formModel').style.display = 'none';
													hideLoader();
													toastr
															.success(MSG_RECORD_UPDATED_SUCCESS);
												} else {
													loadMainTable();
													document
															.getElementById('formModel').style.display = 'none';
													hideLoader();
													toastr
															.success(MSG_RECORD_SAVED_SUCCESS);
												}
											},
											error : function(xhr) {
												$('#save_button').attr(
														'disabled', false);
												hideLoader();
												toastr
														.error(MSG_DATA_LOADING_FAIL);
											}
										});
							}
						});

		var last_clicked_id = null;
		$(document).on('click', '.delete_button', function(event) {
			last_clicked_id = $(this).data("id");
		});

		function deleteItem(id) {
			showLoader();
			if (id) {
				$.ajax({
					url : "/company/" + id + "/delete",
					type : "GET",
					success : function(data) {
						if (!data.status) {
							hideLoader();
							toastr.error(data.errorMessages);
						} else {
							loadMainTable();
							hideLoader();
							toastr.success(MSG_RECORD_DELETED_SUCCESS);
						}
					},
					error : function(xhr) {
						hideLoader();
						toastr.error(MSG_DATA_LOADING_FAIL);
					}
				});
			}
		}
	</script>
</body>
</html>
