<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:with="baseUrl = ${'/company/'+company.id},scUrl = ${'/service-center'},
		userUrl = ${'/user'},siteUrl = ${'/site'},baseText = ${'Company View'}, companyId = ${company.id}">
<head>
<title><th:block th:text="${@environment.getProperty('global.application.title')}+' | '+#{pageTitle.companyView}" /></title>
<th:block th:replace="common/head-include :: main"></th:block>
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<th:block th:replace="common/loader :: main"></th:block>

	<div class="wrapper">

		<header th:replace="common/header :: main"></header>
		<aside th:replace="common/side-bar :: main"></aside>

		<div class="content-wrapper">
			<section class="content-header">
				<h1 th:text=#{companyView.profile}></h1>
			</section>

			<section class="content">
				<div class="row">
					<div class="col-md-3">
						<div class="box">
							<div class="box-body p-4">
								<table>
									<tr>
										<td><img th:src="@{/images/building.png}" class="img-circle img-responsive center-block" alt="Company Image">
										</td>
									</tr>
									<tr>
										<td>&nbsp;</td>
									</tr>

									<tr>
										<td><b><th:block th:text=#{companyView.comname} /> : <th:block th:text="${company.name}" /></b></td>
									</tr>
									<tr>
										<td><br><b><th:block th:text=#{companyView.tel} /> : <th:block th:text="${company.contactNumber}" /></b></td>
									</tr>
									<tr>
										<td><br><b><th:block th:text=#{companyView.email} /> : <th:block th:text="${company.email}" /></b></td>
									</tr>
									<tr>
										<td><br><b><th:block th:text=#{companyView.address} /> : <th:block th:text="${company.address}" /> <i class="fa fa-circle text-success"></i></b></td>
									</tr>

								</table>
							</div>

						</div>

					</div>

					<div class="col-md-9">
						<div class="box">
							<div class="box-header">
								<h3 class="box-title" th:text=#{companyView.sc}></h3>
								<div class="box-tools">
									<div class="box-tools">
										<div align="right">

											
											<button class="btn btn-info btn-sm" th:title=#{companyView.addsc} th:attr="onclick=|loadSCFormModel()|">
												<i class="fa fa-plus"></i>
											</button>

										</div>
									</div>
								</div>
							</div>
							<div class="box-body">
								<div id="results-table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap table-responsive">
									<table id="service_center_table" class="table table-bordered table-hover" style="width: 100%;">
										<thead>
											<tr>
												<th style="width: 10px">#</th>
												<th th:text=#{companyView.scid}></th>
												<th th:text=#{companyView.scname}></th>
												<th th:text=#{companyView.company}></th>
												<th th:text=#{companyView.region}></th>
												<th th:text=#{companyView.prefecture}></th>
												<th th:text=#{common.actions}></th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-3"></div>

					<div class="col-md-9">
						<div class="box">
							<div class="box-header with-border">
								<h3 class="box-title" th:text=#{companyView.users}></h3>
								<div class="box-tools">
									<div class="box-tools">
										<div align="right">

											
											<button class="btn btn-info btn-sm" th:title=#{companyView.adduser} 
												th:attr="onclick=|loadUserFormModel()|">
												<i class="fa fa-plus"></i>
											</button>

										</div>
									</div>
								</div>
							</div>
							<div class="box-body">
								<div id="results-table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap table-responsive">
									<table id="user_table" class="table table-bordered table-hover" style="width: 100%;">
										<thead>
											<tr>
												<th style="width: 10px">#</th>
												<th th:text=#{companyView.userid}></th>
												<th th:text=#{companyView.username}></th>
												<th th:text=#{companyView.company}></th>
												<th th:text=#{companyView.tel}></th>
												<th th:text=#{companyView.email}></th>
												<th  th:text=#{common.actions}></th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
						</div>
					</div>


					<div class="col-md-3"></div>

					<div class="col-md-9">
						<div class="box">
							<div class="box-header with-border">
								<h3 class="box-title" th:text=#{companyView.sites}></h3>
								<div class="box-tools">
									<div class="box-tools">
										<div align="right">

											
											<button class="btn btn-info btn-sm" th:title=#{companyView.addsite} th:attr="onclick=|loadSiteFormModel()|">
												<i class="fa fa-plus"></i>
											</button>

										</div>
									</div>
								</div>
							</div>
							<div class="box-body">
								<div id="results-table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap table-responsive">
									<table id="site_table" class="table table-bordered table-hover" style="width: 100%;">
										<thead>
											<tr>
												<th style="width: 10px">#</th>
												<th th:text=#{companyView.siteid}></th>
												<th th:text=#{companyView.sitename}></th>
												<th th:text=#{companyView.company}></th>
												<th th:text=#{companyView.region}></th>
												<th th:text=#{companyView.prefecture}></th>
												<th th:text=#{common.actions}></th>
											 </tr>
										</thead>
									</table>
								</div>
							</div>
						</div>
					</div>



				</div>

			</section>
			<!-- /.content -->
		</div>

		<!-- <footer th:replace="common/footer :: main"></footer> -->

	</div>

	<div id="mdlCsv" class="w3-modal">
		<div class="w3-modal-content w3-animate-zoom" style="max-width: 500px">
			<header class="w3-container">
				<div class="box-header with-border" align="center">
					<span onclick="document.getElementById('mdlCsv').style.display='none'" class="w3-button w3-display-topright">&times;</span>
					<h3 class="box-title" th:text=#{common.uploadcsv} ></h3>
				</div>
			</header>
			<form class="w3-container" action="">
				<div class="box box-primary">

					<form role="form">
						<div class="box-body">
							<div class="form-group" align="left">
								<th:block th:text=#{common.fileselect} />
								<input type="file" accept=".csv" />
							</div>
						</div>
					</form>
					<div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
						<button
							onclick="document.getElementById('mdlCsv').style.display='none'"
							type="button" class="w3-button w3-red"><span th:text=#{common.cancel}></span></button>
						<button
							onclick="document.getElementById('mdlCsv').style.display='none'"
							type="button" class="w3-button w3-green"><span th:text=#{common.submit}></span></button>


					</div>

				</div>
			</form>
		</div>
	</div>

	<th:block th:replace="service-center/form :: main"></th:block>
	
	<th:block th:replace="user/form :: main"></th:block>
	
	<th:block th:replace="site/form :: main"></th:block>
	
	<th:block th:replace="common/js-include :: main"></th:block>

	<script>
		$('#msbi_company').addClass('active');		
	</script>
	
	<th:block th:replace="service-center/script :: main"></th:block>
	
	<th:block th:replace="user/script :: main"></th:block>

	<th:block th:replace="site/script :: main"></th:block>
</body>
</html>
