<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>PVMO | Site</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<!-- Bootstrap 3.3.5 -->
<link rel="stylesheet" href="../../css/new/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet"
	href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="../../css/new/dist/css/AdminLTE.min.css">
<!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet"
	href="../../css/new/dist/css/skins/_all-skins.min.css">
<!--modal-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" th:href="@{/css/drawing.css}">

</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<header class="main-header">
			<!-- Logo -->
			<a href="" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
				<span class="logo-mini"><img class="img-fluid"
					th:src="@{/images/icon.png}" width="30" height="30"></span> <!-- logo for regular state and mobile devices -->
				<img class="img-fluid" th:src="@{/images/icon.png}" width="30"
				height="30">&nbsp; <span><b>PVMO Integrator</b></span>
			</a>
			<!-- Header Navbar: style can be found in header.less -->
			<nav class="navbar navbar-static-top" role="navigation">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
					role="button"> <span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
				</a>
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">

						
						<!-- User Account: style can be found in dropdown.less -->
						<li class="dropdown user user-menu"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <img
								src="../../css/new/dist/img/user.png" class="user-image"
								alt="User Image"> <span class="hidden-xs">Alexander
									Pierce</span>
						</a></li>
						<!-- Control Sidebar Toggle Button -->
						<li><a href="#" data-toggle="control-sidebar"><i
								class="fa fa-gears"></i></a></li>
					</ul>
				</div>
			</nav>
		</header>
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">
			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">
				<!-- Sidebar user panel -->
				<div class="user-panel">
					<div class="pull-left image">
						<img src="../../css/new/dist/img/user.png" class="img-circle"
							alt="User Image">
					</div>
					<div class="pull-left info">
						<p>Alexander Pierce</p>
						<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
					</div>
				</div>

				<!-- /.search form -->
				<!-- sidebar menu: : style can be found in sidebar.less -->
				<ul class="sidebar-menu">
					<li class="header">MAIN NAVIGATION</li>
					<li class="treeview"><a href="/dashboard"> 
					<i class="fa fa-bars" aria-hidden="true"></i> <span>Dashboard</span>
					</a></li>
					<li><a href="/company"> <i class="fa fa-building"></i> <span>Company</span>
					</a></li>
					<li><a href="/service-center"> <i class="fa fa-briefcase"></i> <span>Service Center</span>
					</a></li>
					<li><a href="/site"> <i class=" fa fa-th"></i> <span>Site </span>
					</a></li>
					<li class="treeview"><a href="/user"> <i
							class="fa fa-user"></i> <span>User</span>
					</a></li>
					<li><a href="/facility"> <i class="fa fa-sitemap"></i> <span>Facility</span>
					</a></li>
					<li><a href="/consumer"> <i class="fa fa-power-off"></i> <span>Consumer</span>
					</a></li>
				</ul>
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>Facility Drawer</h1>
			</section>

			<!-- Main content -->
			<section class="content">
				<!-- /.row -->
				<div class="row">
					<div class="col-xs-12" style="align: center">
						<div class="box">							
							<div class="box-body no-padding">
								<div class="row">
									<div class="col-xs-3">
										<div class="box">
											<div class="box-body">
												<div class="form-group">
													Device ID: <input type="text" id="object_id" readonly />
												</div>
												<hr/>
												<div class="form-group">
													<button id="edit" onclick="Edit()">Edit Land Area</button>
												</div>
												<hr/>
												<div class="form-group">
													<button id="add-solar" onclick="addSolarPanel()">Add
														Solar Panel</button>
												</div>
												<div class="form-group">
													<button id="add-pcs" onclick="addPcs()">Add PCS</button>
												</div>
												<div class="form-group">
													<button id="delete" onclick="deleteItem()">Delete
														Device</button>
												</div>
												<div class="form-group">
													<button id="clear" onclick="clearAll()">Clear All</button>
												</div><hr/>
												<div class="form-group">
													<button id="demo" onclick="demoAnomalies()">Demo
														Anomaly</button>
												</div><hr/>
												
												<div class="form-group">
													<button id="export" onclick="exportToJson()">Export</button>
													<a id="downloadAnchor" style="display: none"></a>
												</div>
												<!-- <div class="form-group">
													<button id="load" onclick="loadJson()">Load</button>
												</div> -->
											</div>
										</div>
									</div>
									<div class="col-xs-9">
										<canvas id="c" width="800" height="600"
											style="border: 1px solid #ccc"></canvas>
									</div>
								</div>
								<div class="row">
								</div>
							</div>
							<!-- /.box-body -->
						</div>
						<!-- /.box -->
					</div>
				</div>
			</section>
			<!-- /.content -->
		</div>

	




		
	</div>
	<!-- ./wrapper -->

	<!-- <!-- jQuery 2.1.4
	<script src="../../plugins/jQuery/jQuery-2.1.4.min.js"></script>
	Bootstrap 3.3.5
	<script src="../../bootstrap/js/bootstrap.min.js"></script>
	Slimscroll
	<script src="../../plugins/slimScroll/jquery.slimscroll.min.js"></script>
	FastClick
	<script src="../../plugins/fastclick/fastclick.min.js"></script>
	AdminLTE App
	<script src="../../css/new/dist/js/app.min.js"></script>
	AdminLTE for demo purposes
	<script src="../../css/new/dist/js/demo.js"></script>
	 -->
	<script th:src="@{/js/fabric.min.js}"></script>
    <script th:src="@{/js/drawing.js}"></script>

</body>
</html>
