<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:with="baseUrl = ${'/setting'},baseText = ${'Setting'}">
<head>
<title><th:block
		th:text="${@environment.getProperty('global.application.title')}+' | '+#{pageTitle.setting}" /></title>
<th:block th:replace="common/head-include :: main"></th:block>


<link rel="stylesheet" type="text/css" th:href="@{'css/style1.css'}" />


</head>
<body class="hold-transition skin-blue sidebar-mini">
	<th:block th:replace="common/loader :: main"></th:block>
	<div class="wrapper">

		<header th:replace="common/header :: main"></header>
		<aside th:replace="common/side-bar :: main"></aside>

		<div class="content-wrapper">
			<section class="content-header">
				<h1 th:text=#{settingDash.title}></h1>
			</section>
			<br>

			<section class="content">
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-4 ">
							<div class="small-box bg-blue">
								<div class="inner">
									<h3>
										<a href="/region"><th:block th:text=#{settingDash.region}/>
										 <br><th:block th:text=#{settingDash.prefecture}/>
										</a>
									</h3>
								</div>
								<div class="icon">
									<i class="fa fa-globe"></i>
								</div>
							</div>
						</div>
						<div class="col-lg-4 ">
							<div class="small-box bg-aqua">
								<div class="inner">
									<h3>
										<a th:href="@{'/consumer'}">
										<th:block th:text=#{settingDash.power}/><br>
										<th:block th:text=#{settingDash.consumer}/>
										</a>
										
									</h3>
								</div>
								<div class="icon">
									<i class="fa fa-power-off"></i>
								</div>

							</div>
						</div>



					</div>

				</div>

				<!-- /.row -->

			</section>



			<!-- /.content -->
		</div>
		<!-- <footer th:replace="common/footer :: main"></footer> -->

	</div>

	<th:block th:replace="common/js-include :: main"></th:block>

	<script>
		$('#msbi_setting').addClass('active');
	</script>

</body>
</html>

