<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:with="baseUrl = ${'/region/'+region.id},preUrl = ${'/prefecture'},
	baseText = ${'Region View'}, regionId = ${region.id}">
<head>
<title><th:block
		th:text="${@environment.getProperty('global.application.title')}+' | '+#{pageTitle.regionView}" /></title>
<th:block th:replace="common/head-include :: main"></th:block>

</head>
<body class="hold-transition skin-blue sidebar-mini">

	<th:block th:replace="common/loader :: main"></th:block>

	<div class="wrapper">

		<header th:replace="common/header :: main"></header>
		<aside th:replace="common/side-bar :: main"></aside>

		<div class="content-wrapper">
			<section class="content-header">
				<h1>
					<th:block th:text="${region.region}" />

				</h1>
			</section>

			<section class="content">
				<div class="row">
					<div class="col-xs-12" style="align: center">
						<div class="box">
							<div class="box-header">

								<div class="box-tools">
									<div class="box-tools">
										<div align="right">

											<button class="btn btn-info btn-sm"
												th:title="${baseText}+' Add'"
												th:attr="onclick=|loadFormModel()|">
												<i class="fa fa-plus"></i>
											</button>

										</div>
									</div>
								</div>
							</div>



							<div class="box-body">
								<div id="results-table_wrapper"
									class="dataTables_wrapper form-inline dt-bootstrap">
									<div class="box-body">
										<div id="results-table_wrapper"
											class="dataTables_wrapper form-inline dt-bootstrap table-responsive">
											<table id="main_table"
												class="table table-bordered table-hover"
												style="width: 100%;">
												<thead>
													<tr>
														<th style="width: 10px">#</th>
														<th><th:block th:text=#{regionList.prefecture}/></th>
														<th><th:block th:text=#{common.actions}/></th>

													</tr>
												</thead>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<!-- <footer th:replace="common/footer :: main"></footer> -->
	</div>

	<div id="formModel" class="w3-modal" data-backdrop="false">
		<div class="w3-modal-content " style="max-width: 800px">
			<header class="w3-container">
				<div class="box-header with-border" align="center">
					<span
						onclick="document.getElementById('formModel').style.display='none'"
						class="w3-button w3-display-topright">&times;</span>
					<h3 class="box-title">
						<th:block th:text=#{regionList.addPrefecture}/>
					</h3>
				</div>
			</header>



			<div class="box box-primary">

				<form role="form" id="prefectureData" method="POST"
					th:object="${prefecture}" th:action="@{${preUrl} + '/saveUpdate'}">
					<div class="box-body">
						<div class="col-md-6">
							<input type="hidden" id="id" name="id" />
							<input type="hidden" id="regionId" name="regionId" th:value="${region.id}"/>

							<div class="form-group" align="left">
								<th:block th:text=#{regionList.prefecture}/>
								<input type="text" class="form-control"
									th:field="*{prefecture}">
							</div>

						</div>
					</div>

					<div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
						<button
							onclick="document.getElementById('formModel').style.display='none'"
							type="button" class="w3-button w3-red">Cancel</button>
						<input type="submit" id="save_button" class="w3-button w3-green"
							value="Submit" />

					</div>

				</form>

			</div>
		</div>
	</div>


	<div id="mdlCsv" class="w3-modal">
		<div class="w3-modal-content " style="max-width: 500px">
			<header class="w3-container">
				<div class="box-header with-border" align="center">
					<span
						onclick="document.getElementById('mdlCsv').style.display='none'"
						class="w3-button w3-display-topright">&times;</span>
					<h3 class="box-title">Upload CSV file</h3>
				</div>
			</header>
			<form class="w3-container" action="">
				<div class="box box-primary">

					<form role="form">
						<div class="box-body">
							<div class="form-group" align="left">
								Select the File <input type="file" accept=".csv" />
							</div>
						</div>
					</form>
					<div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
						<button
							onclick="document.getElementById('mdlCsv').style.display='none'"
							type="button" class="w3-button w3-red">Cancel</button>
						<button
							onclick="document.getElementById('mdlCsv').style.display='none'"
							type="button" class="w3-button w3-green">Submit</button>


					</div>

				</div>
			</form>
		</div>
	</div>

	<th:block th:replace="common/js-include :: main"></th:block>

	<script>
	
	  
	  $(document).ready(function() {
		  loadMainTable();
		  resizeHandler($('#main_table'));
			document.addEventListener('keypress', function(event) {
		        if (event.keyCode == 13) {
		        	loadMainTable();
		        }
		    });
	  });
	  
	  function loadMainTable() {
			$('#search_table_div').show();
		     var search_key = $.trim($('#search_text').val());
		     search_key = search_key.length == 0 ? "-1" : search_key;
		     $.ajax({
		        url: '[[${baseUrl}]][[${preUrl}]]/data/' + search_key,
		        type: "GET",
		        success: function(data) {
		            if(data != null){
		            	setMainTable(data.payload[0]);
		            }
		        },
		        error: function(xhr) { toastr.error(MSG_DATA_LOADING_FAIL); }
		    });
	  }
	  
	  function setMainTable(list) {
		    if($.isEmptyObject(list)) {
		        $('#main_table').DataTable().clear();
		        $('#main_table').DataTable({
		        	"stateSave": true,
		        	'order':[],
		            'columnDefs': [{
		                "targets": [0,2],
		                "orderable": false
		            }],
		        	"searching": true,
		            "paging":true,
		            "lengthChange": true,
		            "pageLength": 10,
		            "lengthMenu": [5, 10, 20, 50],
		            "bInfo" : true,
		            "info": true,
		            "buttons": [],
		            "destroy": true,
		            "language": {
		                "emptyTable":"No Data Found !!!",
		                search: "",
		                searchPlaceholder: "Search..."
		            }
		        });
		    } else {
		        $("#main_table").DataTable({
		        	"stateSave": true,
		        	'order':[],
		            'columnDefs': [{
		                "targets": [0,2],
		                "orderable": false
		            }],
		        	"searching": true,
		            "paging":true,
		            "lengthChange": false,
		            "pageLength": 10,
		            "lengthMenu": [5, 10, 20, 50],
		            "bInfo" : false,
		            "info": false,
		            "buttons": [],
		            "destroy": true,
		            "data" : list,
		            "deferRender" :    false,
			        "scrollY" :        '50vh',
			        "scrollCollapse" : true,
			        "scroller" :       true,
			        "keys" :           true,
		            "columns" : [
		            	{
		                    "width": "5%",
		                    "data" : "id",
		                    render: function (data, type, row, meta) {
		                        return meta.row + 1;
		                    }
		                },
		           		{
		                    "width": "25%",
		                    "data" :  function (data) {
		                        return data.prefecture;
		                    }
		                },
		               
		                 {
		                    "width": "20%",
		                    "data" : "id",
		                    mRender: function (data, type, row) {
		                        var columnHtml = 
		                        	
									'<button type="button" class="btn btn-primary btn-xs"'+
										'onclick="loadFormModel('+data+' )">'+
										'<i class="fa fa-pencil-square-o"></i>'+
									'</button> '+
									'<button class="btn btn-danger btn-xs delete_button"'+
										'title="Delete"  data-id="'+data+'"'+
										'id="delete_button">'+
										'<i class="fa fa-trash"></i>'+
									'</button> ';
		                        return (columnHtml);
		                    }
		                }
		            ]
		        });		        

			    $('.delete_button').confirmation({
					    onConfirm: function(event, element) { 
					    	deleteItem(last_clicked_id);
					    },
					    onCancel: function(event, element) {  }
				});
		    }
		}
	  
	  
	  function loadFormModel(id){
		  document.querySelector('#formModel .box-title').innerHTML = PREFECTURE + (id ? EDIT : ADD);
		  
		  $("#prefectureData").get(0).reset();
		  $("#prefectureData").validate().resetForm();
		  $("#prefectureData").find('.form-group').each(function () { $(this).removeClass('has-error'); });
      	  
      	  $('#save_button').attr('disabled',false);
		  
		  if(id){
			  $.ajax({
			      url: "[[${preUrl}]]/"+id+"/data",
			      type: "GET",
			      success: function(data) {
			    	if (!data.status) {
		                 toastr.error(data.errorMessages);
		            } else {
		            	document.querySelector('#prefectureData #id').value = data.payload[0].id;
		            	document.querySelector('#prefectureData #regionId').value = data.payload[0].regionId;
		            	document.querySelector('#prefectureData #prefecture').value = data.payload[0].prefecture;
		            }
			      },
		          error: function(xhr) {
		        	toastr.error(MSG_DATA_LOADING_FAIL);
		          }
			  });
		  }
			
 		  document.getElementById('formModel').style.display='block';
		  
	  }
	 	  
	  $("#prefectureData").validate({
			rules : {
				
				"prefecture" : {
					required : true,
					minlength : 4
				},
				
			},
			
			submitHandler : function(form) {
				showLoader();
			
				var formData = $(form).serializeArray();
				if ("[[${region.id}]]") {
					
					formData.push({
						name : "regionId",
						value : "[[${region.id}]]"
					});
				}
				
				$('#save_button').attr('disabled',true);
			    $.ajax({
			      url: form.action,
			      type: form.method,
			      data: $(form).serialize(),
			      success: function(data) {
			    	if (!data.status) {
		                 $('#save_button').attr('disabled',false);
		                 hideLoader();
		                 toastr.error(data.errorMessages);
		            } else if(form.id.value) {
		            	 loadMainTable();
		            	 document.getElementById('formModel').style.display='none';
		            	 hideLoader();
		            	 toastr.success(MSG_RECORD_UPDATED_SUCCESS);
		            }else {
		            	loadMainTable();
		            	document.getElementById('formModel').style.display='none';
		            	hideLoader();
		            	toastr.success(MSG_RECORD_SAVED_SUCCESS);
		            }
			      },
		          error: function(xhr) {
		        	$('#save_button').attr('disabled',false);
		        	hideLoader();
		        	toastr.error(MSG_DATA_LOADING_FAIL);
		          }
				});
			}
	  });
	  
	  var last_clicked_id = null;
	  $(document).on('click', '.delete_button', function (event) {
	      last_clicked_id = $(this).data("id");
	  });
	  
	  
	  function deleteItem(id){
		  showLoader();
		  if(id){
			  $.ajax({
				  url: "[[${preUrl}]]/"+id+"/delete",
			      type: "GET",
			      success: function(data) {
			    	if (!data.status) {
			    		hideLoader();
		                toastr.error(data.errorMessages);
		            } else {
		            	loadMainTable();
		            	hideLoader();
		            	toastr.success(MSG_RECORD_DELETED_SUCCESS);
		            }
			      },
		          error: function(xhr) {
		        	hideLoader();
		        	toastr.error(MSG_DATA_LOADING_FAIL);
		          }
				});
		  }
	  }
		  		
	</script>
</body>
</html>
