<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:with="baseUrl = ${'/consumer/'+consumer.id},baseText = ${'Consumer View'}">
<head>
<title><th:block
		th:text="${@environment.getProperty('global.application.title')}+' | '+#{pageTitle.consumerView}" /></title>
<th:block th:replace="common/head-include :: main"></th:block>
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<th:block th:replace="common/loader :: main"></th:block>

	<div class="wrapper">

		<header th:replace="common/header :: main"></header>
		<aside th:replace="common/side-bar :: main"></aside>

		<div class="content-wrapper">
			<section class="content-header">
				<h1 th:text=#{consumerView.title}></h1>
			</section>

			<section class="content">
				<div class="row">
					<div class="col-md-6">
						<div class="box">
							<div class="box-body p-4">
								<table>
									<tr>
										<td><img th:src="@{/images/building.png}"
											class="img-circle img-responsive center-block"
											alt="Company Image"></td>
									</tr>
									<tr>
										<td>&nbsp;</td>
									</tr>

									<tr>
										<td><b> <th:block th:text=#{consumerView.name} /> :
												<th:block th:text="${consumer.name}" /></b></td>
									</tr>
									<tr>
										<td><br> <b><th:block
													th:text=#{consumerList.email} /> : <th:block
													th:text="${consumer.email}" /></b></td>
									</tr>
									<tr>
										<td><br> <b><th:block
													th:text=#{consumerList.address} /> : <th:block
													th:text="${consumer.address}" /></b></td>
									</tr>
									<tr>
										<td><br> <b> <th:block
													th:text=#{consumerView.tel} /> : <th:block
													th:text="${consumer.contactNumber}" /></b></td>
									</tr>

								</table>
							</div>

						</div>

					</div>
				</div>

			</section>

		</div>
	</div>
	<th:block th:replace="common/js-include :: main"></th:block>

	<script>
		$('#msbi_consumer').addClass('active');

		$(document).ready(function() {
			loadSCTable();
			loadUserTable();
			document.addEventListener('keypress', function(event) {
				if (event.keyCode == 13) {
					loadSCTable();
					loadUserTable();
				}
			});
		});
	</script>

</body>
</html>
