<th:block lang="en" xmlns:th="https://www.thymeleaf.org"  th:fragment="main">
    
	<div id="userFormModel" class="w3-modal">
		<div class="w3-modal-content w3-animate-zoom" style="max-width: 800px">
			<header class="w3-container">
				<div class="box-header with-border" align="center">
					<span onclick="document.getElementById('userFormModel').style.display='none'" class="w3-button w3-display-topright">&times;</span>
					<h3 class="box-title" th:text=#{userAdd.title}></h3>
				</div>
			</header>

			<div class="box box-primary">

				<form role="form" id="userData" method="POST" th:object="${user}" th:action="@{${userUrl} + '/saveUpdate'}">
					<div class="box-body">
						<div class="col-md-6">
							<input type="hidden" id="id" name="id" />
							<div class="form-group" align="left">
								<th:block th:text=#{userAdd.userId} /> 
								<input type="text" class="form-control" th:field="*{userId}">
							</div>
							<div class="form-group" align="left">
								<th:block th:text=#{userAdd.firstName} />
								<input type="text" class="form-control" th:field="*{firstName}" placeholder="Ex : John">
							</div>
							<div class="form-group" align="left">
								<th:block th:text=#{userAdd.lastName} />  
								<input type="text" class="form-control" th:field="*{lastName}" placeholder="Ex : Doe">
							</div>
							<div class="form-group" align="left">
								<th:block th:text=#{userAdd.katakanaName} /> 
								<input type="text" class="form-control" th:field="*{katakanaName}">
							</div>
							<div class="form-group" align="left">
								<div class="input-group">
									<th:block th:text=#{userAdd.gender} /> 
									<input type="radio" id="gender_male" th:field="*{gender}" value="male">
									<th:block th:text=#{userAdd.male} /> 
									<input type="radio" id="gender_female" th:field="*{gender}" value="female">
									<th:block th:text=#{userAdd.female} /> 
								</div>
							</div>
							<div class="form-group" align="left">
								<th:block th:text=#{userAdd.age} /> 
								<input type="text" class="form-control" th:field="*{age}" placeholder="Ex : 23">
							</div>
							<div class="form-group" align="left">
								<th:block th:text=#{userAdd.tel} /> 
								<input type="tel" class="form-control" th:field="*{emergencyContactNumber}" name="phone" placeholder="000-000-000"
									pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}">
							</div>
							<div class="form-group" align="left">
								<th:block th:text=#{userAdd.department} /> 
								<input type="text" class="form-control" th:field="*{department1}" placeholder="Ex : Department 1">
							</div>
							<div class="form-group" align="left">
								<th:block th:text=#{userAdd.division} /> 
								<input type="text" class="form-control" th:field="*{department2}" placeholder="Ex : Division 1 1">
							</div>
							<div class="form-group" align="left">
								<th:block th:text=#{userAdd.workbase} /> 
								<textarea id="work" class="form-control" th:field="*{workBase}" rows="4" cols="50">
										</textarea>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group" align="left">
								<th:block th:text=#{userAdd.qualifications} />
								<textarea id="work" class="form-control" th:field="*{qualification}" rows="4" cols="50">
										</textarea>
							</div>
							<div class="form-group" align="left">
								<th:block th:text=#{userAdd.omQualifications} /> 
								<textarea id="work" class="form-control" th:field="*{omQualification}" rows="4" cols="50">
										</textarea>
							</div>
							<div class="form-group" align="left">
								<th:block th:text=#{userAdd.hiringDate} /> 
								<input type="date" class="form-control" th:field="*{dateOfHiring}">
							</div>
							<div class="form-group" align="left">
								<th:block th:text=#{userAdd.leavingDate} /> 
								<input type="date" class="form-control" th:field="*{dateOfLeaving}">
							</div>
							<div class="form-group" align="left">
								<th:block th:text=#{userAdd.email} /> 
								<input type="email" class="form-control" th:field="*{email}" placeholder="johndoe@gmail.com">
							</div>
							
							<!-- <div id="#passwordDiv" style="display:none">
								<div class="form-group" align="left">
									Password
									<input type="password" class="form-control" th:field="*{password}">
								</div>
								<div class="form-group" align="left">
									Confirm Password
									<input type="password" class="form-control" name="confirmPassword">
								</div>
							</div> -->
							
							<div class="form-group" align="left">
								<th:block th:text=#{userAdd.profilePic} /></br>
								<input type="file" id="exampleInputFile" th:field="*{profilePicture}">

							</div>
						</div>

					</div>

					<div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
						<button
							onclick="document.getElementById('userFormModel').style.display='none'"
							type="button" class="w3-button w3-red"><span th:text=#{common.cancel}></span></button>
						<input type="submit" id="user_save_button"
							class="w3-button w3-green" th:value=#{common.submit} />
					</div>
				</form>

			</div>
		</div>
	</div>
    
</th:block>