<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:with="companyId = '',userUrl = ${'/user'},baseText = ${'User'}">
<head>
<title><th:block th:text="${@environment.getProperty('global.application.title')}+' | '+#{pageTitle.user}" /></title>
<th:block th:replace="common/head-include :: main"></th:block>

</head>
<body class="hold-transition skin-blue sidebar-mini">

	<th:block th:replace="common/loader :: main"></th:block>

	<div class="wrapper">

		<header th:replace="common/header :: main"></header>
		<aside th:replace="common/side-bar :: main"></aside>

		<div class="content-wrapper">
			<section class="content-header">
				<h1>
					<th:block th:text=#{userList.title} />
				</h1>
			</section>

			<section class="content">
				<div class="row">
					<div class="col-xs-12" style="align: center">
						<div class="box">
							<div class="box-body">
								<div id="results-table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
									<div class="box-body">
										<div id="results-table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap table-responsive">
											<table id="user_table" class="table table-bordered table-hover" style="width: 100%;">
												<thead>
													<tr>
														<th style="width: 10px">#</th>
														<th><th:block th:text=#{userList.userId} /></th>
														<th><th:block th:text=#{userList.userName} /></th>
														<th><th:block th:text=#{userList.company} /></th>
														<th><th:block th:text=#{userList.tel} /></th>
														<th><th:block th:text=#{userList.email} /></th>
														<th><th:block th:text=#{common.actions} /></th>
													</tr>
												</thead>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<!-- <footer th:replace="common/footer :: main"></footer> -->
	</div>

	<th:block th:replace="user/form :: main"></th:block>

	<th:block th:replace="common/js-include :: main"></th:block>

	<script>
		$('#msbi_user').addClass('active');
		
	</script>
	
	<th:block th:replace="user/script :: main"></th:block>
	
</body>
</html>
