<th:block lang="en" xmlns:th="https://www.thymeleaf.org"  th:fragment="main">
    <script>

		$(document).ready(function() {
			loadUserTable();
			resizeHandler($('#user_table'));
			document.addEventListener('keypress', function(event) {
				if (event.keyCode == 13) {
					loadUserTable();
				}
			});
		});

		function loadUserTable() {

			$('#search_table_div').show();
			var search_key = $.trim($('#search_text').val());
			search_key = search_key.length == 0 ? "-1" : search_key;
			$.ajax({
				url : '[[${baseUrl}]][[${userUrl}]]/data/' + search_key,
				type : "GET",
				success : function(data) {
					if (data != null) {
						setUserTable(data.payload[0]);
					}
				},
				error : function(xhr) {
					toastr.error(MSG_DATA_LOADING_FAIL);
				}
			});

		}
		
		var assign = "[[${assign}]]";
		
		function setUserTable(list) {
			if ($.isEmptyObject(list)) {
				$('#user_table').DataTable().clear();
				$('#user_table').DataTable({
					"stateSave" : true,
					'order' : [],
					'columnDefs' : [ {
						"targets" : [ 0, 3, 4, 5, 6 ],
						"orderable" : false
					} ],
					"searching" : true,
					"paging" : true,
					"lengthChange" : true,
					"pageLength" : 10,
					"lengthMenu" : [ 5, 10, 20, 50 ],
					"bInfo" : true,
					"info" : true,
					"buttons" : [],
					"destroy" : true,
					"language" : {
						"emptyTable" : "No Data Found !!!",
						search : "",
						searchPlaceholder : "Search..."
					}
				});
			} else if(assign) {
				$("#user_table")
				.DataTable(
						{
							"stateSave" : true,
							'order' : [],
							'columnDefs' : [ {
								"targets" : [ 0, 3, 4, 5, 7 ],
								"orderable" : false
							} ],
							"searching" : true,
							"paging" : true,
							"lengthChange" : true,
							"pageLength" : 10,
							"lengthMenu" : [ 5, 10, 20, 50 ],
							"bInfo" : true,
							"info" : true,
							"buttons" : [],
							"destroy" : true,
							"data" : list,
							"columns" : [
									{
										"width" : "5%",
										"data" : "id",
										render : function(data, type,
												row, meta) {
											return meta.row + 1;
										}
									},
									{
										"width" : "10%",
										"data" : function(data) {
											return data.userId;
										}
									},
									{
										"width" : "20%",
										"data" : function(data) {
											return data.name;
										}
									},
									{
										"width" : "10%",
										"data" : function(data) {
											return data.company.name;
										}
									},
									{
										"width" : "15%",
										"data" : function(data) {
											return data.emergencyContactNumber;
										}
									},
									{
										"width" : "15%",
										"data" : function(data) {
											return data.email;
										}
									},
									{
										"width" : "10%",
										"data" : function(data) {
											return data.userType;
										}
									},
									{
										"width" : "15%",
										"data" : "id",
										mRender : function(data, type,
												row) {
																						
											var assignColumnHtml = '<a href="[[${userUrl}]]/'+data+'" type="button" class="btn btn-warning btn-xs"> '
													+ '<i class="fa fa-list"></i> '
													+ '</a> '
													+'<button class="btn btn-danger btn-xs user_unassign_button"'+
															'data-id="'+data+'"'
													+ 'id="user_unassign_button">'
													+ '<i class="fa fa-minus-square"></i>'
													+ '</button> ';

											return (assignColumnHtml);		
										}
									} ]
						});

			
			$('.user_unassign_button').confirmation({
				onConfirm : function(event, element) {
					userUnassignItem(user_last_clicked_unassign_id);
				},
				onCancel : function(event, element) {
				}
			});
		}else {
				$("#user_table")
						.DataTable(
								{
									"stateSave" : true,
									'order' : [],
									'columnDefs' : [ {
										"targets" : [ 0, 3, 4, 5, 6 ],
										"orderable" : false
									} ],
									"searching" : true,
									"paging" : true,
									"lengthChange" : false,
									"pageLength" : 10,
									"lengthMenu" : [ 5, 10, 20, 50 ],
									"bInfo" : false,
									"info" : false,
									"buttons" : [],
									"destroy" : true,
									"data" : list,
									"deferRender" :    false,
							        "scrollY" :        '50vh',
							        "scrollX" :        true,
							        "scrollCollapse" : true,
							        "scroller" :       true,
							        "keys" :           true,
									"columns" : [
											{
												"width" : "5%",
												"data" : "id",
												render : function(data, type,
														row, meta) {
													return meta.row + 1;
												}
											},
											{
												"width" : "10%",
												"data" : function(data) {
													return data.userId;
												}
											},
											{
												"width" : "20%",
												"data" : function(data) {
													return data.name;
												}
											},
											{
												"width" : "10%",
												"data" : function(data) {
													return data.company.name;
												}
											},
											{
												"width" : "20%",
												"data" : function(data) {
													return data.emergencyContactNumber;
												}
											},
											{
												"width" : "20%",
												"data" : function(data) {
													return data.email;
												}
											},
											{
												"width" : "15%",
												"data" : "id",
												mRender : function(data, type,
														row) {
													var columnHtml = '<a href="[[${userUrl}]]/'+data+'" type="button" class="btn btn-warning btn-xs"> '
															+ '<i class="fa fa-list"></i> '
															+ '</a> '
															+ '<button type="button" class="btn btn-primary btn-xs"'
															+ 'onclick="loadUserFormModel('
															+ data
															+ ' )">'
															+ '<i class="fa fa-pencil-square-o"></i>'
															+ '</button> '
															+ '<button class="btn btn-danger btn-xs user_delete_button"'+
										'data-id="'+data+'"'+
										'id="user_delete_button">'
															+ '<i class="fa fa-trash"></i>'
															+ '</button> ';
															
													return (columnHtml);
												}
											} ]
								});

				$('.user_delete_button').confirmation({
					onConfirm : function(event, element) {
						userDeleteItem(user_last_clicked_id);
					},
					onCancel : function(event, element) {
					}
				});
			}
		}

		function loadUserFormModel(id) {
			document.querySelector('#userFormModel .box-title').innerHTML = USER
					+ (id ? EDIT : ADD);
			
			document.querySelector('#userData #id').value = "";
			$("#userData").get(0).reset();
			$("#userData").validate().resetForm();
			$("#userData").find('.form-group').each(function() {
				$(this).removeClass('has-error');
			});

			$('#user_save_button').attr('disabled', false);
			if (id) {
				$
						.ajax({
							url : "[[${userUrl}]]/" + id + "/data",
							type : "GET",
							success : function(data) {
								if (!data.status) {
									toastr.error(data.errorMessages);
								} else {

									document.querySelector('#userData #id').value = data.payload[0].id;
									document
											.querySelector('#userData #firstName').value = data.payload[0].firstName;
									document.querySelector('#userData #email').value = data.payload[0].email;
									document
											.querySelector('#userData #lastName').value = data.payload[0].lastName;
									document
											.querySelector('#userData #katakanaName').value = data.payload[0].katakanaName;
									document
											.querySelector('#userData #emergencyContactNumber').value = data.payload[0].emergencyContactNumber;
									document.querySelector('#userData #email').value = data.payload[0].email;

									data.payload[0].gender == 'male' ? document.querySelector('#userData #gender_male').checked = true :
										document.querySelector('#userData #gender_female').checked = true;
									
									document.querySelector('#userData #age').value = data.payload[0].age;
									document
											.querySelector('#userData #department1').value = data.payload[0].department1;
									document
											.querySelector('#userData #department2').value = data.payload[0].department2;
									document
											.querySelector('#userData #dateOfHiring').value = moment(
											data.payload[0].dateOfHiring)
											.format("YYYY-MM-DD");
									document
											.querySelector('#userData #dateOfLeaving').value = moment(
											data.payload[0].dateOfLeaving)
											.format("YYYY-MM-DD");
									document.querySelector('#userData #userId').value = data.payload[0].userId;
									document
											.querySelector('#userData [name="workBase"]').value = data.payload[0].workBase;
									document
											.querySelector('#userData [name="qualification"]').value = data.payload[0].qualification;
									document
											.querySelector('#userData [name="omQualification"]').value = data.payload[0].omQualification;
									document
											.querySelector('#userData [name="profilePicture"]').value = data.payload[0].profilePicture;
								}
							},
							error : function(xhr) {
								toastr.error(MSG_DATA_LOADING_FAIL);
							}
						});
			}

			document.getElementById('userFormModel').style.display = 'block';

		}

		$("#userData")
				.validate(
						{
							rules : {
								"userId" : {
									required : true,
									minlength : 4
								},
								"firstName" : {
									required : true
								},
								"lastName" : {
									required : true
								},
								"email" : {
									email : true,
									required : true
								},
								"emergencyContactNumber" : {
									required : true,
									regx : /^([0-9]{3}-[0-9]{3}-[0-9]{3})$/,
								},
								"age" : {
									required : true,
								},
								"password" : {
									required : true,
									minlength : 6,
								},
								"confirmPassword" : {
									required : true,
									minlength : 6,
									equalTo : "#password"
								},
								"gender" : {
									required : true,
								},
							},
							messages : {
								contactNumber : {
									regx : "invalid phone number.{format ex: 000-000-000}",
								},
							},
							submitHandler : function(form) {
								showLoader();
								
								var formData = $(form).serializeArray();
								if("[[${companyId}]]"){
									formData.push({ name: "companyId", value: "[[${companyId}]]" });
								}
								
								$('#user_save_button').attr('disabled', true);
								$
										.ajax({
											url : form.action,
											type : form.method,
											data : formData,
											success : function(data) {
												if (!data.status) {
													$('#user_save_button')
															.attr('disabled',
																	false);
													hideLoader();
													toastr
															.error(data.errorMessages);
												} else if (form.id.value) {
													loadUserTable();
													document
															.getElementById('userFormModel').style.display = 'none';
													hideLoader();
													toastr
															.success(MSG_RECORD_UPDATED_SUCCESS);
												} else {
													loadUserTable();
													document
															.getElementById('userFormModel').style.display = 'none';
													hideLoader();
													toastr
															.success(MSG_RECORD_SAVED_SUCCESS);
												}
											},
											error : function(xhr) {
												$('#user_save_button').attr(
														'disabled', false);
												hideLoader();
												toastr
														.error(MSG_DATA_LOADING_FAIL);
											}
										});
							}
						});

		var user_last_clicked_id = null;
		$(document).on('click', '.user_delete_button', function(event) {
			user_last_clicked_id = $(this).data("id");
		});

		function userDeleteItem(id) {
			showLoader();
			if (id) {
				$.ajax({
					url : "[[${userUrl}]]/" + id + "/delete",
					type : "GET",
					success : function(data) {
						if (!data.status) {
							hideLoader();
							toastr.error(data.errorMessages);
						} else {
							loadUserTable();
							hideLoader();
							toastr.success(MSG_RECORD_DELETED_SUCCESS);
						}
					},
					error : function(xhr) {
						hideLoader();
						toastr.error(MSG_DATA_LOADING_FAIL);
					}
				});
			}
		}
		
		var user_last_clicked_unassign_id = null;
		$(document).on('click', '.user_unassign_button', function(event) {
			user_last_clicked_unassign_id = $(this).data("id");
		});
		
		function userUnassignItem(id) {
			showLoader();
			
			let token = $("meta[name='_csrf']").attr("content");
		    let header = $("meta[name='_csrf_header']").attr("content");
			
			if (id) {
				$.ajax({
					url : "[[${baseUrl}]][[${userUrl}]]/" + id + "/unassign",
					type : "POST",
					headers: {
			            [header]: token,
			            "charset": "UTF-8",
			            "Content-Type": "application/json"
			        },
					success : function(data) {
						if (!data.status) {
							hideLoader();
							toastr.error(data.errorMessages);
						} else {
							loadUserTable();
							hideLoader();
							toastr.success(MSG_RECORD_DELETED_SUCCESS);
						}
					},
					error : function(xhr) {
						hideLoader();
						toastr.error(MSG_DATA_LOADING_FAIL);
					}
				});
			}
		}
		
	</script>
</th:block>