<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:with="baseUrl = ${'/service-center'},baseText = ${'Service Center'}">
<head>
<title><th:block th:text="${@environment.getProperty('global.application.title')}+' | '+#{pageTitle.userView}" /></title>
<th:block th:replace="common/head-include :: main"></th:block>
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<th:block th:replace="common/loader :: main"></th:block>

	<div class="wrapper">
		<header th:replace="common/header :: main"></header>
		<aside th:replace="common/side-bar :: main"></aside>
<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1 th:text=#{userView.title}></h1>
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="row">
					<div class="col-md-4">
						<div class="box">
							<div class="box-header with-border">
								<h3 class="box-title">
									<b th:text=#{userView.user}></b> : <th:block th:text="${user.userId}" />
								</h3>
							</div>
							<!-- /.box-header -->
							<div class="box-body">
								<table>
									<tr>
										<td>
										<img src="../../css/new/dist/img/user2.jpg"
											class="img-circle" alt="User Image"
											style="text-align: center; display:block;margin-left: auto;margin-right: auto;"></td>
									</tr>
									<tr>
										<td>&nbsp;</td>
									</tr>

									<tr>
										<td><b th:text=#{userView.userName}></b>  : <th:block th:text="${user.name}" /></td>
									</tr>
									<tr>
										<td></br>
										<b th:text=#{userView.tel}></b> : <th:block th:text="${user.emergencyContactNumber}" /></td>
									</tr>
									<tr>
										<td></br>
										<b th:text=#{userView.email}> </b>: <th:block th:text="${user.email}" /></td>
									</tr>
									<tr>
										<td></br>
										<b th:text=#{userView.state}> </b>: 
										<th:block th:switch="${user.status}">
										    <th:block th:case="${T(com.axiohelix.pvmo.type.Status).ACTIVE.dbValue}"
										      th:text="${T(com.axiohelix.pvmo.type.Status).ACTIVE.displayName}" />
									      <th:block th:case="${T(com.axiohelix.pvmo.type.Status).DELETED.dbValue}"
									      th:text="${T(com.axiohelix.pvmo.type.Status).DELETED.displayName}" />
									      <th:block th:case="${T(com.axiohelix.pvmo.type.Status).HIDDEN.dbValue}"
									      th:text="${T(com.axiohelix.pvmo.type.Status).HIDDEN.displayName}" />
										</th:block>
										
										<i class="fa fa-circle text-success"></i></td>
									</tr>

								</table>
							</div>
							<!-- /.box-body -->

						</div>
						<!-- /.box -->

						<!-- /.box -->

					</div>
					<!-- /.col -->
					<div class="col-md-8">
						<div class="box">
							<div class="box-header with-border">
								<h3 class="box-title" th:text=#{userView.sites}></h3>
							</div>
							<!-- /.box-header -->
							<div class="box-body">
								<table class="table table-bordered">
									<tr>
										<th style="width: 10px">#</th>
										<th><th:block th:text=#{userView.siteId} /></th>
										<th><th:block th:text=#{userView.region} /></th>
										<th><th:block th:text=#{userView.prefecture} /></th>
										

									</tr>

									<tr>
										<td>1.</td>
										<td>S002</td>
										<td>Kanto</td>
										<td>Chiba</td>
									</tr>
									<tr>
										<td>2.</td>
										<td>S020</td>
										<td>Chubu</td>
										<td>Gifu</td>
									</tr>
									<tr>
										<td>3.</td>
										<td>S035</td>
										<td>Chubu</td>
										<td>Fukui</td>
									</tr>
									
								</table>
							</div>
						</div>
						</div>
					<!-- /.col -->


				</div>
				<!-- /.row -->


			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<!-- <footer th:replace="common/footer :: main"></footer> -->

	</div>

	<th:block th:replace="common/js-include :: main"></th:block>

	<script>
		$('#msbi_user').addClass('active');
	</script>
</body>
</html>
