.m-0 {
	margin: 0 !important;
}

.m-1 {
	margin: .25rem !important;
}

.m-2 {
	margin: .5rem !important;
}

.m-3 {
	margin: 1rem !important;
}

.m-4 {
	margin: 1.5rem !important;
}

.m-5 {
	margin: 3rem !important;
}

.mt-0 {
	margin-top: 0 !important;
}

.mr-0 {
	margin-right: 0 !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.ml-0 {
	margin-left: 0 !important;
}

.mx-0 {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.my-0 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.mt-1 {
	margin-top: .25rem !important;
}

.mr-1 {
	margin-right: .25rem !important;
}

.mb-1 {
	margin-bottom: .25rem !important;
}

.ml-1 {
	margin-left: .25rem !important;
}

.mx-1 {
	margin-left: .25rem !important;
	margin-right: .25rem !important;
}

.my-1 {
	margin-top: .25rem !important;
	margin-bottom: .25rem !important;
}

.mt-2 {
	margin-top: .5rem !important;
}

.mr-2 {
	margin-right: .5rem !important;
}

.mb-2 {
	margin-bottom: .5rem !important;
}

.ml-2 {
	margin-left: .5rem !important;
}

.mx-2 {
	margin-right: .5rem !important;
	margin-left: .5rem !important;
}

.my-2 {
	margin-top: .5rem !important;
	margin-bottom: .5rem !important;
}

.mt-3 {
	margin-top: 1rem !important;
}

.mr-3 {
	margin-right: 1rem !important;
}

.mb-3 {
	margin-bottom: 1rem !important;
}

.ml-3 {
	margin-left: 1rem !important;
}

.mx-3 {
	margin-right: 1rem !important;
	margin-left: 1rem !important;
}

.my-3 {
	margin-bottom: 1rem !important;
	margin-top: 1rem !important;
}

.mt-4 {
	margin-top: 1.5rem !important;
}

.mr-4 {
	margin-right: 1.5rem !important;
}

.mb-4 {
	margin-bottom: 1.5rem !important;
}

.ml-4 {
	margin-left: 1.5rem !important;
}

.mx-4 {
	margin-right: 1.5rem !important;
	margin-left: 1.5rem !important;
}

.my-4 {
	margin-top: 1.5rem !important;
	margin-bottom: 1.5rem !important;
}

.mt-5 {
	margin-top: 3rem !important;
}

.mr-5 {
	margin-right: 3rem !important;
}

.mb-5 {
	margin-bottom: 3rem !important;
}

.ml-5 {
	margin-left: 3rem !important;
}

.mx-5 {
	margin-right: 3rem !important;
	margin-left: 3rem !important;
}

.my-5 {
	margin-top: 3rem !important;
	margin-bottom: 3rem !important;
}

.mt-auto {
	margin-top: auto !important;
}

.mr-auto {
	margin-right: auto !important;
}

.mb-auto {
	margin-bottom: auto !important;
}

.ml-auto {
	margin-left: auto !important;
}

.mx-auto {
	margin-right: auto !important;
	margin-left: auto !important;
}

.my-auto {
	margin-bottom: auto !important;
	margin-top: auto !important;
}

.p-0 {
	padding: 0 !important;
}

.p-1 {
	padding: .25rem !important;
}

.p-2 {
	padding: .5rem !important;
}

.p-3 {
	padding: 1rem !important;
}

.p-4 {
	padding: 1.5rem !important;
}

.p-5 {
	padding: 3rem !important;
}

.pt-0 {
	padding-top: 0 !important;
}

.pr-0 {
	padding-right: 0 !important;
}

.pb-0 {
	padding-bottom: 0 !important;
}

.pl-0 {
	padding-left: 0 !important;
}

.px-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.py-0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.pt-1 {
	padding-top: .25rem !important;
}

.pr-1 {
	padding-right: .25rem !important;
}

.pb-1 {
	padding-bottom: .25rem !important;
}

.pl-1 {
	padding-left: .25rem !important;
}

.px-1 {
	padding-left: .25rem !important;
	padding-right: .25rem !important;
}

.py-1 {
	padding-top: .25rem !important;
	padding-bottom: .25rem !important;
}

.pt-2 {
	padding-top: .5rem !important;
}

.pr-2 {
	padding-right: .5rem !important;
}

.pb-2 {
	padding-bottom: .5rem !important;
}

.pl-2 {
	padding-left: .5rem !important;
}

.px-2 {
	padding-right: .5rem !important;
	padding-left: .5rem !important;
}

.py-2 {
	padding-top: .5rem !important;
	padding-bottom: .5rem !important;
}

.pt-3 {
	padding-top: 1rem !important;
}

.pr-3 {
	padding-right: 1rem !important;
}

.pb-3 {
	padding-bottom: 1rem !important;
}

.pl-3 {
	padding-left: 1rem !important;
}

.py-3 {
	padding-bottom: 1rem !important;
	padding-top: 1rem !important;
}

.px-3 {
	padding-right: 1rem !important;
	padding-left: 1rem !important;
}

.pt-4 {
	padding-top: 1.5rem !important;
}

.pr-4 {
	padding-right: 1.5rem !important;
}

.pb-4 {
	padding-bottom: 1.5rem !important;
}

.pl-4 {
	padding-left: 1.5rem !important;
}

.px-4 {
	padding-right: 1.5rem !important;
	padding-left: 1.5rem !important;
}

.py-4 {
	padding-top: 1.5rem !important;
	padding-bottom: 1.5rem !important;
}

.pt-5 {
	padding-top: 3rem !important;
}

.pr-5 {
	padding-right: 3rem !important;
}

.pb-5 {
	padding-bottom: 3rem !important;
}

.pl-5 {
	padding-left: 3rem !important;
}

.px-5 {
	padding-right: 3rem !important;
	padding-left: 3rem !important;
}

.py-5 {
	padding-top: 3rem !important;
	padding-bottom: 3rem !important;
}

.popover {
	z-index: 500;
}

.transfer-double {
	margin: auto;
	width: 100% !important;
	height: 100% !important;
	background-color: #fff;
	border: 0px solid #ddd !important;
	z-index: 1000;
	border-radius: unset !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

#locales {
	color: black;
}

.form-control-xs {
	height: 22px;
	padding: 2px 5px;
	font-size: 12px;
	border-radius: 3px;
}

.flag-icon {
	height: 22px;
	font-size: 18px;
	border-radius: 3px;
	line-height: 1;
}

#username.wrap {
	width: 140px;
	padding: 0;
	overflow: hidden;
	position: relative;
	display: inline-block;
	margin: 0 5px 0 5px;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
}

input[type=file]::file-selector-button {
	margin: 0 0 1 0;
	padding: 0;
	line-height: 1;
}

.wrapper {
	overflow-x: unset;
	overflow-y: unset;
}

html, body {
	overflow: hidden;
}

.table-condensed-custom>tbody>tr>td, .table-condensed-custom>tbody>tr>th,
	.table-condensed-custom>tfoot>tr>td, .table-condensed-custom>tfoot>tr>th,
	.table-condensed-custom>thead>tr>td, .table-condensed-custom>thead>tr>th
	{
	padding: 0px;
}

.vcenter {
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}

.scroll-to-top{
	position:fixed;
	bottom:15px;
	right:15px;
	width:40px;
	height:40px;
	color:#ffffff;
	font-size:13px;
	text-transform:uppercase;
	line-height:38px;
	text-align:center;
	z-index:100;
	cursor:pointer;
	background:#3c8dbc;
	display:none;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;		
}

.scroll-to-top:hover{
	color:#ffffff;
	background:#0a0a0a;
}
