.image-checkbox {
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 5px solid transparent;
    box-shadow: 0 black;
    outline: none;
    margin: 4px;
    border-radius: 0px;
    padding: 0;
    z-index:100;
}

.image-checkbox-checked {
    border-color: #2196f3;
}

#ulPGT > img {
    border-radius: 0px;
    max-width: -webkit-fill-available;
    display: block;
}

.image-checkbox i {
    display: none;
    color: #2196f3;
}

.image-checkbox-checked {
    position: relative;
}

.image-checkbox-checked i {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}