.loader {
	margin: auto;
}

.loader {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: block;
	text-align: center;
    z-index: 1000;
}

.loader img{
	width:250px;
	height:auto;	
    -webkit-animation: breathing 3s ease-out infinite normal;
    animation: breathing 3s ease-out infinite normal; 
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }

  100% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }

  100% {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }
}

.loader span:nth-of-type(2) {
    background: #040ee3;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.loader span:nth-of-type(3) {
    background: rgb(0, 134, 158);
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.loader span:nth-of-type(4) {
    background: rgb(0, 78, 167);
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.loader h2 span {
    display: inline-block;
    vertical-align: middle;
    width: .3em;
    height: .3em;
    margin: .15em;
    background: #020e27;
    border-radius: .6em;
    -webkit-animation: loader 1s infinite alternate;
    animation: loader 1s infinite alternate;
}

/*
 * Animation keyframes
 * Use transition opacity instead of keyframes?
 */
 @-webkit-keyframes loader {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
  @keyframes loader {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
  .blur{
  	opacity: 20%;
  }