<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>PVMO | Site</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<!-- Bootstrap 3.3.5 -->
<link rel="stylesheet" href="../../css/new/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet"
	href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="../../css/new/dist/css/AdminLTE.min.css">
<!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet"
	href="../../css/new/dist/css/skins/_all-skins.min.css">
<!--modal-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- Dual box list -->
<link rel="stylesheet" type="text/css"
	href="../../css/new/dual-list-box/icon_font/css/icon_font.css" />
<link rel="stylesheet" type="text/css"
	href="../../css/new/dual-list-box/css/jquery.transfer.css?v=0.0.3" />


<!-- -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<link rel="stylesheet" type="text/css" th:href="@{'css/style1.css'}" />
<script th:src="@{'/map/index.js'}"></script>

</head>

<body class="hold-transition skin-blue sidebar-mini">
	<th:block th:replace="common/loader :: main"></th:block>
	<div class="wrapper">

		<header th:replace="common/header :: main"></header>
		<aside class="main-sidebar">
			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">
				<!-- Sidebar user panel -->
				<div class="user-panel">
					<div class="pull-left image">
						<img src="../../css/new/dist/img/user.png" class="img-circle"
							alt="User Image">
					</div>
					<div class="pull-left info">
						<p>Alexander Pierce</p>
						<a href="#">Admin</a>
					</div>
				</div>

				<!-- /.search form -->
				<!-- sidebar menu: : style can be found in sidebar.less -->
				<ul class="sidebar-menu">
					<li class="header">MAIN NAVIGATION</li>
					<li class="treeview"><a href="/dashboard"> <i
							class="fa fa-bars" aria-hidden="true"></i> <span>Dashboard</span>
					</a></li>
					<li><a href="/company"> <i class="fa fa-building"></i> <span>Company</span>
					</a></li>
					<li><a href="/service-center"> <i class="fa fa-briefcase"></i>
							<span>Service Center</span>
					</a></li>
					<li><a href="/site"> <i class=" fa fa-th"></i> <span>Site
						</span>
					</a></li>
					<li class="treeview"><a href="/user"> <i
							class="fa fa-user"></i> <span>User</span>
					</a></li>

					<li><a href="/consumer"> <i class="fa fa-power-off"></i> <span>Consumer</span>
					</a></li>
					<li><a href="/ticket"> <i class="fa fa-newspaper-o"></i> <span>Ticket</span>
					</a></li>
					<li><a href="/login"> <i class="fa fa-toggle-off"></i> <span>Logout</span>
					</a></li>
				</ul>
		</aside>

		<div class="content-wrapper">
			<section class="content-header">
				<h1>Dashboard</h1>
			</section>
			<br>

			<section class="content">
				<div class="col-lg-6">
					<div class="row">
						<div class="col-lg-6 ">
							<div class="small-box bg-aqua">
								<div class="inner">
									<h3>User</h3>
									<p>50</p>

								</div>
								<div class="icon">
									<i class="ion ion-person"></i>
								</div>
								<a href="/user" class="small-box-footer">
									More info <i class="fa fa-arrow-circle-right"></i>
								</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="small-box bg-green">
								<div class="inner">
									<h3>Site</h3>
									<p>10</p>
								</div>
								<div class="icon">
									<i class="fa fa-table"></i>
								</div>
								<a href="/site" class="small-box-footer">
									More info <i class="fa fa-arrow-circle-right"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="nav-tabs-custom">
								<ul class="nav nav-tabs pull-right">
									<li class="pull-left header">
										<i class="fa fa-exclamation-circle"></i>Abnormality
									</li>
								</ul>
								<div class="tab-content">

									<div class="box-body table-responsive">
										<table class="table table-hover">
											<tr>
												<th>Facility ID</th>
												<th>Health</th>
												<th>Date</th>
												<th>Action</th>
											</tr>
											<tr>
												<td>F001</td>
												<td>Risk</td>
												<td>11-7-2021</td>
												<td><a href="/facility-detail" class="label label-warning">View</a></td>
											</tr>
											<tr>
												<td>F002</td>
												<td>Risk</td>
												<td>11-7-2021</td>
												<td><a href="/facility-detail" class="label label-warning">View</a></td>
											</tr>
											<tr>
												<td>F003</td>
												<td>Normal</td>
												<td>11-7-2021</td>
												<td><a href="/facility-detail" class="label label-warning">View</a></td>
											</tr>

										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<section>

						<!-- Map box -->
						<div class="box box-solid bg-light-blue-gradient">
							<div class="box-header">

								<i class="fa fa-map-marker"></i>
								<h3 class="box-title">Map</h3>
							</div>
							<div>
								<div id="map" style="height: 450px; width: 100%;"></div>
								<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUIK90jYIXusR43siewRD9Rw2gtPI-7lg&callback=initMap"
									async></script>


							</div>
						</div>
					</section>
				</div>
				<!-- /.row -->

			</section>



			<!-- /.content -->
		</div>
		<!-- <footer th:replace="common/footer :: main"></footer> -->

	</div>

	<th:block th:replace="common/js-include :: main"></th:block>

	<script>
		$('#msbi_dashboard').addClass('active');
	</script>

</body>
</html>

