<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:with="baseText = ${'Dashboard'},siteUrl = ${'/site'},siteText = ${'Site'}, companyId = '',ticketUrl = ${'/ticket'},baseText = ${'Ticket'}, userUrl = ${'/user'}">
<head>
<title><th:block
		th:text="${@environment.getProperty('global.application.title')}+' | '+#{pageTitle.Dashboard}" /></title>
<th:block th:replace="common/head-include :: main"></th:block>

<script th:inline="javascript">
	/*<![CDATA[*/
	
	    var sites = [[${sites}]];  
	    console.log(sites);
	
	/*]]>*/
	</script>
<link rel="stylesheet" type="text/css" th:href="@{'css/style1.css'}" />
<script th:src="@{'/map/index.js'}"></script>

<link rel="stylesheet"
	th:href="@{/vendor/dual-list-box/icon_font/css/icon_font.css}">
<link rel="stylesheet"
	th:href="@{/vendor/dual-list-box/css/jquery.transfer.css}">

<script th:src="@{/vendor/dual-list-box/js/jquery.transfer.js}"></script>

</head>
<body class="hold-transition skin-blue sidebar-mini">
	<th:block th:replace="common/loader :: main"></th:block>
	<div class="wrapper">

		<header th:replace="common/header :: main"></header>
		<aside th:replace="common/side-bar :: main"></aside>

		<div class="content-wrapper">
			<section class="content-header">
				<h1 style="display: inline-block" th:text=#{menu.dashboard}></h1>

				<div class="dropdown-toggle form-inline pull-right"
					data-toggle="dropdown" aria-expanded="false">
					<!-- <span for="locales" class="form-control-xs" th:text="#{lang.change}"></span>
					: -->
					<select class="form-control" id="region" style="color: black">
						<option value="0" th:text=#{scAdd.selectRegion}></option>
						<option th:each="region : ${regions}" th:text="${region.region}"
							th:value="${region.id}">
					</select> <select class="form-control" id="service-center"
						style="color: black">
						<option value="0" th:text="SC"></option>
						<option th:each="sc : ${serviceCenters}" th:text="${sc.name}"
							th:value="${sc.id}">
					</select>
					<!-- <select class="form-control" id="prefecture" style="color: black" >
						<option value="0" th:text = #{siteAdd.selectPrefecture}></option>	
						<option th:each="prefecture : ${prefectures}" th:text="${prefecture.prefecture}"
							th:value="${prefecture.prefecture}">							 
					</select> -->
				</div>

			</section>
			<br>

			<section class="content">
				<!-- <div class="row"  sec:authorize="hasRole('ROLE_ADMIN')"> -->
				<div class="row primary_container" id='primary_container'>
					<section class="col-lg-6 connectedSortable" id='sortable_1'>
						<!-- Map box -->
						<div id="draggable_0" class="box box-solid">
							<div class="box-header">
								<i class="fa fa-th"></i>
								<h3 class="box-title">List of power plants</h3>
								<div class="box-tools pull-right">
									<button type="button" class="btn bg-teal btn-sm widget-close"
										data-widget="remove">
										<i class="fa fa-times"></i>
									</button>
								</div>
							</div>
							<div class="box-body">
								<div id="results-table_wrapper"
									class="dataTables_wrapper form-inline dt-bootstrap">
									<div class="box-body">
										<div id="results-table_wrapper"
											class="dataTables_wrapper form-inline dt-bootstrap table-responsive">
											<table id="site_table"
												class="table table-bordered table-hover"
												style="width: 100%;">
												<thead>
													<tr>
														<th style="width: 10px">#</th>
														<th><th:block th:text=#{siteList.siteId} /></th>
														<th><th:block th:text=#{siteList.siteName} /></th>
														<th><th:block th:text=#{siteList.company} /></th>
														<th><th:block th:text=#{siteList.region} /></th>
														<th><th:block th:text=#{siteList.prefecture} /></th>
														<th><th:block th:text=#{common.actions} /></th>
													</tr>
												</thead>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div id="draggable_4" class="box box-solid">
							<div class="box-header">
								<i class="fa fa-calendar"></i>
								<h3 class="box-title">Schedule (per SC)</h3>
								<div class="box-tools pull-right">
									<button type="button" class="btn bg-teal btn-sm widget-close"
										data-widget="remove">
										<i class="fa fa-times"></i>
									</button>
								</div>
							</div>
							<div class="box-body">
								<div id="results-table_wrapper"
									class="dataTables_wrapper form-inline dt-bootstrap">
									<div class="box-body">
										<div id="results-table_wrapper"
											class="dataTables_wrapper form-inline dt-bootstrap table-responsive">
											<table id="schedule_table"
												class="table table-bordered table-hover"
												style="width: 100%;">
												<thead>
													<tr>
														<th style="width: 10px">#</th>
														<th><th:block th:text=#{schedule.siteName} /></th>
														<th><th:block th:text=#{schedule.incharge} /></th>
														<th><th:block th:text=#{schedule.details} /></th>
													</tr>
												</thead>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>


					</section>
					<section class="col-lg-6 connectedSortable" id='sortable_2'>
						<!-- Map box -->
						<div id="draggable_1" class="box box-solid bg-light-blue-gradient">
							<div class="box-header">

								<i class="fa fa-map-marker"></i>
								<h3 class="box-title">Map</h3>
								<div class="box-tools pull-right">
									<button type="button" class="btn bg-teal btn-sm widget-close"
										data-widget="remove">
										<i class="fa fa-times"></i>
									</button>
								</div>
							</div>
							<div>
								<div id="map" style="height: 450px; width: 100%;"></div>
								<script
									src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUIK90jYIXusR43siewRD9Rw2gtPI-7lg&callback=initMap"
									async></script>


							</div>
						</div>

						<div id="draggable_2" class="box box-solid">
							<div class="box-header">
								<i class="fa fa-newspaper-o"></i>
								<h3 class="box-title">Emergency tickets</h3>
								<div class="box-tools pull-right">
									<button type="button" class="btn bg-teal btn-sm widget-close"
										data-widget="remove">
										<i class="fa fa-times"></i>
									</button>
								</div>
							</div>
							<div class="box-body">
								<div id="results-table_wrapper"
									class="dataTables_wrapper form-inline dt-bootstrap">
									<div class="box-body">
										<div id="results-table_wrapper"
											class="dataTables_wrapper form-inline dt-bootstrap table-responsive">
											<table id="main_table"
												class="table table-bordered table-hover"
												style="width: 100%;">
												<thead>
													<tr>
														<th style="width: 10px">#</th>
														<th><th:block th:text=#{ticketList.ticketId} /></th>
														<th><th:block th:text=#{ticketList.siteName} /></th>
														<th><th:block th:text=#{ticketList.title} /></th>
														<th><th:block th:text=#{ticketList.type} /></th>
														<th><th:block th:text=#{ticketList.date} /></th>
														<th><th:block th:text=#{common.actions} /></th>
													</tr>
												</thead>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>

					<button type="button" class="btn btn-default btn-block btn-app"
						data-toggle="modal" data-target="#widget-modal">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</section>

			<!-- /.content -->
		</div>
		<!-- <footer th:replace="common/footer :: main"></footer> -->

		<div class="modal fade" id="widget-modal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">Dashboard Widgets</h4>
					</div>
					<div class="modal-body">

						<div class="box-body no-padding">
							<table class="table table-condensed" id="tblWidget">
								<tbody>
									<tr>
										<th style="width: 10px">#</th>
										<th>Widget</th>
										<th>Add</th>
									</tr>
									<tr>
										<td>1.</td>
										<td>List of power plants</td>
										<td><input type="checkbox" id="draggable_0cb"  class="minimal" style="position: absolute; opacity: 1;"></td>
									</tr>
									<tr>
										<td>2.</td>
										<td>Map</td>
										<td><input type="checkbox" id="draggable_1cb"   class="minimal" style="position: absolute; opacity: 1;"></td>
									</tr>
									<tr>
									<tr>
										<td>3.</td>
										<td>Emergency tickets</td>
										<td><input type="checkbox" id="draggable_2cb"   class="minimal" style="position: absolute; opacity: 1;"></td>
									</tr>
									<tr>
									<tr>
										<td>4.</td>
										<td>Schedule (per SC)</td>
										<td><input type="checkbox" id="draggable_4cb"   class="minimal" style="position: absolute; opacity: 1;"></td>
									</tr>
									<tr>
								</tbody>
							</table>
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default pull-left"
							data-dismiss="modal">Close</button>
						<button type="button" id="btnSaveWidgets" class="btn btn-primary">Save
							changes</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

	</div>

	<th:block th:replace="common/js-include :: main"></th:block>

	<th:block th:replace="site/form :: main"></th:block>
	<th:block th:replace="ticket/form :: main"></th:block>


	<script>
		$('#msbi_dashboard').addClass('active');
	</script>
	<script th:src="@{/js/dashboard.js}"></script>
	<th:block th:replace="site/script :: main"></th:block>
	<th:block th:replace="ticket/script :: main"></th:block>

	<script>
		function reload(){
		  	var url = window.location.href;
		    url = url.split('?')[0]  + '?region=' + $("#region").find(":selected").val() + '&serviceCenter=' + $("#service-center").find(":selected").val();
		    window.location.href = url;
		}
	
		var region = localStorage.getItem("region");
		var serviceCenter = localStorage.getItem("serviceCenter");
		if(region != undefined || region != null){
		    $("#region").find(":selected").removeAttr("selected");
		  	$("#region").find("option").each(function () {
	            if ($(this).val() == region) {
	                $(this).attr("selected", true);
	            }
	        });
		}
		
		if(serviceCenter != undefined || serviceCenter != null){
		  	$("#service-center").find(":selected").removeAttr("selected");
		  	$("#service-center").find("option").each(function () {
	            if ($(this).val() == serviceCenter) {
	                $(this).attr("selected", true);
	            }
	        });
		}
	
		$('#region').change(function () {
			localStorage.setItem("region", $("#region").find(":selected").val());	
			localStorage.setItem("serviceCenter", 0);
		    reload();
		});
		
		$('#service-center').change(function () {
			localStorage.setItem("serviceCenter", $("#service-center").find(":selected").val());	
		  	reload();
		});
		
	</script>


</body>
</html>

