<html>
<body>
	<center>
		<h1>Error occurred</h1>
		<h2>Please contact website admin</h2>
		<a href="/">Home</a>
		<div class="error mx-auto" th:data-text="${errors[1]}" th:text="${errors[1]}"></div>
		<p class="lead text-gray-700 mb-5" th:text="${errors[2]}"></p>
		<p class="text-gray-500 mb-0" th:text="${errors[3]}"></p>
		<a th:href="@{/}" >&larr; Back to <th:block th:text="${@environment.getProperty('global.application.title')}" ></th:block> Home</a>
		<br>
		<a th:href="@{/dashboard}" >&larr; Back to Dashboard</a>
		<br>
		<a th:href="@{${backUrl}}" >&larr; Back to Previous</a>
	</center>
</body>
</html>