<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:with="baseUrl = ${'/login'},baseText = ${'Login'}">
	<style>
		.or-seperator {
		    margin: 20px 0 10px;
		    text-align: center;
		    border-top: 1px solid #ccc;
		}
		.or-seperator i {
		    padding: 0 10px;
		    background: #f7f7f7;
		    position: relative;
		    top: -11px;
		    z-index: 1;
		}
	</style>
<head>
	<!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport"
        content="width=device-width, initialscale=1, maximum-scale=1.0, user-scalable=no" />
    
 -->
	<title><th:block th:text="${@environment.getProperty('global.application.title')}+' | '+${baseText}" /></title>
	<style type="text/css">
		::-webkit-scrollbar {
		  display: none;
		}
	</style>
	<th:block th:replace="common/head-include :: main"></th:block>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/css/fonts.css}" rel="stylesheet" />
	<link th:href="@{/css/fontawesome.min.css}" rel="stylesheet" />
	<link th:href="@{/css/magnific-popup.css}" rel="stylesheet" />
	<link th:href="@{/css/swiper.min.css}" rel="stylesheet" />
	<link th:href="@{/css/animate.css}" rel="stylesheet" />
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<link th:href="@{/css/color4.css}" rel="stylesheet" />
	
	
	<script src="js/jquery.min.js"></script>	
	<script src="js/loader.js"></script>
	
</head>
<body class="index_three">
	<th:block th:replace="common/loader :: main"></th:block>
	<section class="wrapper s_login">
		<div class="ss_box_bg">
			<div class="s_heading">
				<h2>
					<a th:href="@{'/'}">
						<img class="img-fluid" th:src="@{/images/logo.png}" width="100" height="100">
						&nbsp;<font color="#4c4f5a">  <b th:text = "#{login.welcome}"></b></font>
					</a>
				</h2>
				
				<p  ></p>
				<p align="center" th:text = "#{login.title}"></p>
			</div>
			<div class="s_heading">
				<a th:href="@{/oauth2/authorization/azure-client}" class=" ss_btn btn btn-outline-primary btn-block" 
					style="background: none;border-color:#17a2b8;color:#17a2b8;">			
				<img th:src="@{/images/azure-logo.png}" class="user-image" alt="User Image">
				 Sign in with <b>Azure AD</b></a>
			 </div>
			 
			 <div class="or-seperator"><i>or</i></div>
			 
			<div th:if="${param.error}">
				<div class="callout callout-danger">
					<p th:text=#{login.errormessage}></p>
				</div>
			</div>
			<form th:action="@{/login}" method="post">
				<div class="s_input">
					<input type="text" name="username" id="username" th:attr="placeholder=#{login.email}"  class="require"
						data-valid="email" data-error="Email should be valid." />
				</div>
				<div class="s_input">
					<input type="password" th:attr="placeholder=#{login.password}" name="password" id="password" class="require" />
				</div>

				<div class="s_jump_page">
					<input type="submit" class="ss_btn submitForm" th:value=#{login.submit} />
					<div class="response"></div>
				</div>
			</form>
			
			
		</div>
		<div class="solar_waves">
			<div class="solar_wave"></div>
			<div class="solar_wave"></div>
			<div class="solar_wave"></div>
		</div>
		<div class="shape_dot">
			<img class="img-fluid" th:src="@{images/shape_dot.png}" alt="image" />
		</div>
		<div class="shape_wave">
			<div class="ss_banner_dot"></div>
		</div>
	</section>
	<!--===script start===-->
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/isotope.pkgd.min.js"></script>
	<script src="js/swiper.min.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/script.js"></script>

</body>
</html>
