<th:block lang="en" xmlns:th="https://www.thymeleaf.org" th:fragment="main">

	<div id="ticketFormModel" class="w3-modal">
		<div class="w3-modal-content w3-animate-zoom" style="max-width: 800px">
			<header class="w3-container">
				<div class="box-header with-border" align="center">
					<span onclick="document.getElementById('ticketFormModel').style.display='none'" class="w3-button w3-display-topright">&times;</span>
					<h3 class="box-title" th:text=#{ticketList.add}></h3>
				</div>
			</header>

			<div class="box box-primary">

				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#tab1" data-toggle="tab"><th:block th:text=#{ticketAdd.basicInfo} /></a>
					</li>
					<li>
						<a href="#tab2" data-toggle="tab"><th:block th:text=#{ticketAdd.taskList} /></a>
					</li>
					<li>
						<a href="#tab3" data-toggle="tab"><th:block th:text=#{ticketAdd.assignUser} /></a>
					</li>
					<li>
						<a href="#tab4" data-toggle="tab"><th:block th:text=#{ticketAdd.docs} /></a>
					</li>
				</ul>

				<form role="form" id="ticketData" method="POST" th:object="${ticket}" th:action="@{${ticketUrl} + '/saveUpdate'}"
					enctype="multipart/form-data">

					<div class="tab-content">

						<div class="tab-pane active" id="tab1">
							<div class="box-body">
								<div class="col-md-12">
									<input type="hidden" id="id" name="id" />
									<input type="hidden" id="siteId" name="siteId" />
									<!-- <input type="hidden" id="ticketType" name="ticketType"/> -->
									<!--  th:value="${T(com.axiohelix.pvmo.type.TicketType).MANUAL.getDbValue()}" --> 
									<div class="form-group" align="left">
										<th:block th:text=#{ticketAdd.ticketId} />
										<input type="text" class="form-control" th:field="*{ticketId}">
									</div>
									<div class="form-group" align="left">
										<th:block th:text=#{ticketAdd.ticketTitle} />
										<input type="text" class="form-control" th:field="*{ticketTitle}">
									</div>
									<div class="form-group" align="left">
										<th:block th:text=#{ticketAdd.ticketType} />
										<select class="form-control" th:field="*{ticketType}">
											<option value="0" th:text = #{ticketAdd.selectTicketType}></option>
										</select>
									</div>
									<div class="form-group" align="left">
										<th:block th:text=#{ticketAdd.description} />
										<textarea id="description" class="form-control" th:field="*{description}" rows="4" cols="50">
										</textarea>
									</div>
									<div class="form-group" align="right">
										<a class="btn btn-primary btnNext" style="align: right"><th:block th:text=#{ticketAdd.next} /></a>
									</div>

								</div>
							</div>
						</div>

						<div class="tab-pane" id="tab2">
							<div class="box-body">
								<div class="col-md-12">
									<div class="form-group" align="left">
										<th:block th:text=#{ticketAdd.selectTemplate} />
										<select class="form-control" th:field="*{templateId}">
											<option value="0" th:text = #{ticketAdd.selectTemplate}></option>
										</select>
									</div>

									<div class="form-group" align="left" id="xxx" style="display: none;">
										<table class="table table-hover">
											<tr>
												<td>
													<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
													Check Wire connections
												</td>
											</tr>
											<tr>
												<td>
													<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
													Check for corrosions
												</td>
											</tr>
											<tr>
												<td>
													<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
													Clean dust on panel
												</td>
											</tr>
											<tr>
												<td>
													<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
													Check for panel cracks
												</td>
											</tr>
											<tr>
												<td>
													<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
													Measure PCS sensor voltage
												</td>
											</tr>
											<tr>
												<td>
													<input type="text" class="form-control" id="title" placeholder="Add new option">
												</td>
												<td>
													<select class="form-control">
														<option>Answer Type</option>
														<option>Check box</option>
														<option>Radio button</option>
														<option>Text box</option>
													</select>
												</td>
												<td>
													<button type="button" class="btn btn-primary btn-sm">
														<i class="fa fa-plus"></i>
													</button>
												</td>

											</tr>
										</table>
									</div>
									<div class="form-group" align="right">
										<a class="btn btn-default btnPrevious"><th:block th:text=#{ticketAdd.previous} /></a>
										<a class="btn btn-primary btnNext"><th:block th:text=#{ticketAdd.next} /></a>
									</div>
								</div>
							</div>

						</div>

						<div class="tab-pane" id="tab3">
							<div class="box-body">
								<div class="col-md-12">

									<ul class="nav nav-tabs">
										<li class="active">
											<a data-toggle="tab" href="#menu1">
												<b th:text=#{scView.supervisors}></b>
											</a>
										</li>
										<li>
											<a data-toggle="tab" href="#menu2">
												<b th:text=#{scView.employees}></b>
											</a>
										</li>

									</ul>

									<div class="tab-content">
										<div id="menu1" class="tab-pane fade in active">
											<input type="hidden" id="assignedSupervisors" name="assignedSupervisors" />
											<form class="w3-container" action="">
												<div class="box box-primary">
													<div class="box-header with-border">
														<h3 class="box-title" th:text=#{scView.addSupervisors}></h3>
													</div>

													<div id="supervisorsTransfer" class="transfer-demo"></div>

												</div>
											</form>
										</div>
										<div id="menu2" class="tab-pane fade">
											<input type="hidden" id="assignedEmployees" name="assignedEmployees" />
											<form class="w3-container" action="">
												<div class="box box-primary">
													<div class="box-header with-border">
														<h3 class="box-title" th:text=#{scView.addEmployees}></h3>
													</div>

													<div id="employeeTransfer" class="transfer-demo"></div>

												</div>
											</form>
										</div>

									</div>

									<div class="form-group" align="right">
										<a class="btn btn-default btnPrevious"><th:block th:text=#{ticketAdd.previous} /></a>
										<a class="btn btn-primary btnNext"><th:block th:text=#{ticketAdd.next} /></a>
									</div>
								</div>
							</div>
						</div>

						<div class="tab-pane" id="tab4">

							<div class="box-body">
								<div class="col-md-12">
									<div class="box-body">
										<div class="form-group" align="left">
											<label> <th:block th:text=#{ticketAdd.selectFile} /> </label>
											<br>
											<label id="uploadedDocumentFileName" class="text-muted ml-3"></label>
											<div class="form-group form-inline ml-3">
												<label id="uploadedDocumentText" class="text-muted" for="document"> <th:block th:text=#{ticketAdd.selectFile} /> </label>
												<input type="file" accept="*" th:field="*{document}" class="form-control btn btn-default" />
											</div>
										</div>
									</div>
									<div class="form-group" align="right">
										<a class="btn btn-default btnPrevious"><th:block th:text=#{ticketAdd.previous} /></a>
									</div>
								</div>
							</div>

							<div class="modal-footer">
								<span onclick="document.getElementById('ticketFormModel').style.display='none'" type="button" class="w3-button w3-red">
									<span th:text=#{common.cancel}></span>
								</span>
								<input type="submit" id="ticket_save_button" class="w3-button w3-green" th:value=#{common.submit} />
							</div>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$('#template').change(function() {

			//this is just getting the value that is selected
			selection = $(this).val();
			//If its one then show the dialog window. You can change this condition as per your need
			if (selection == 1) {
				var x = document.getElementById("xxx");
				if (x.style.display === "none") {
					x.style.display = "block";
				} else {
					x.style.display = "none";
				}
				//Show the modal window
				/* $("#xxx")
						.html(
								"<input type='checkbox' id='vehicle1' name='vehicle1' value='Bike'> Wire connection<br><input type='checkbox' id='vehicle1' name='vehicle1' value='Bike'> Corrosion<br><input type='checkbox' id='vehicle1' name='vehicle1' value='Bike'> Wire connection<br><input type='checkbox' id='vehicle1' name='vehicle1' value='Bike'> Cleaned Dust");
				 */}
		});

		$('.btnNext').click(function() {
			$('.nav-tabs > .active').next('li').find('a').trigger('click');
		});

		$('.btnPrevious').click(function() {
			$('.nav-tabs > .active').prev('li').find('a').trigger('click');
		});
	</script>

</th:block>