<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" 
	th:with="ticketUrl = ${'/ticket'},baseText = ${'Ticket'}, companyId = '', userUrl = ${'/user'}">
<head>
	<title><th:block th:text="${@environment.getProperty('global.application.title')}+' | '+#{pageTitle.ticket}" /></title>
	<th:block th:replace="common/head-include :: main"></th:block >
	
	<link rel="stylesheet" th:href="@{/vendor/dual-list-box/icon_font/css/icon_font.css}">
	<link rel="stylesheet" th:href="@{/vendor/dual-list-box/css/jquery.transfer.css}">
	
	<script th:src="@{/vendor/dual-list-box/js/jquery.transfer.js}"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
	
	<th:block th:replace="common/loader :: main"></th:block>

	<div class="wrapper">

		<header th:replace="common/header :: main"></header>
		<aside th:replace="common/side-bar :: main"></aside>

		<div class="content-wrapper">
			<section class="content-header">
				<h1><th:block th:text=#{ticketList.heading} /> </h1>
			</section>

			<section class="content">
				<div class="row">
					<div class="col-xs-12" style="align: center">
						<div class="box">
							<div class="box-header">
								<div class="box-tools">
									<div class="box-tools">
										<div align="right">

											<button class="btn btn-info btn-sm"
												style="background-color: #45B39D;"
												onclick="document.getElementById('mdlCsv').style.display='block'">
												Upload CSV</button>
											<!-- <button class="btn btn-info btn-sm" th:title="${baseText}+' Add'"
												th:attr="onclick=|loadFormModel()|">
												<i class="fa fa-plus"></i>
											</button> -->
											
										</div>
									</div>
								</div>
							</div>
							
							
				            
				            <div class="box-body">
			                    <div id="results-table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
			                        <div class="box-body">
										<div id="results-table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap table-responsive">   
				                            <table id="main_table"
				                                    class="table table-bordered table-hover" style="width:100%;">
				                                <thead>
					                                <tr>
														<th style="width: 10px">#</th>
														<th><th:block th:text=#{ticketList.ticketId}/></th>
														<th><th:block th:text=#{ticketList.siteName}/></th>
														<th><th:block th:text=#{ticketList.title} /></th>
														<th><th:block th:text=#{ticketList.type} /></th>
														<th><th:block th:text=#{ticketList.date} /></th>
														<th><th:block th:text=#{common.actions} /></th>
													</tr>
				                                </thead>
				                                <tbody></tbody>
				                            </table>
				                         </div>
				                    </div>
			                    </div>
			                </div>  
						</div>
					</div>
				</div>
			</section>
		</div>

		<!-- <footer th:replace="common/footer :: main"></footer> -->
	</div>
	

	<div id="mdlCsv" class="w3-modal">
		<div class="w3-modal-content w3-animate-zoom" style="max-width: 500px">
			<header class="w3-container">
				<div class="box-header with-border" align="center">				
				  <span
						onclick="document.getElementById('mdlCsv').style.display='none'"
						class="w3-button w3-display-topright">&times;</span>
				  <h3 th:text=#{common.uploadcsv} class="box-title"></h3>
				</div>
			</header>
			<form class="w3-container" action="">
				<div class="box box-primary">

					<form role="form">
						<div class="box-body">
							<div class="form-group" align="left">
								<th:block th:text=#{common.fileselect} /> <input type="file" accept=".csv" />
							</div>
						</div>
					</form>
					<div
						class="w3-container w3-border-top w3-padding-16 w3-light-grey">
						<button
							onclick="document.getElementById('mdlCsv').style.display='none'"
							type="button" class="w3-button w3-red"><span th:text=#{common.cancel}></span></button>
						<button
							onclick="document.getElementById('mdlCsv').style.display='none'"
							type="button" class="w3-button w3-green"><span th:text=#{common.submit}></span></button>

					</div>

				</div>
			</form>
		</div>
	</div>
	
		
	<th:block th:replace="common/js-include :: main"></th:block>
	
	<th:block th:replace="ticket/form :: main"></th:block>
	
	<script>
	  $('#msbi_ticket').addClass('active');
	</script>	
	
	<th:block th:replace="ticket/script :: main"></th:block>
	
</body>
</html>
