<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:with="baseUrl = ${'/site'},baseText = ${'Site'}">
<head>
	<link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
</head>
<div th:fragment="map" class="box box-primary">
	<div class="box-header">
		<div class="row">
			<div class="col-xs-6">
				<h3>String Map</h3>
			</div>
			<div class="col-xs-6 text-right">
				<button id="viewMap" onclick="viewMap()" class="btn btn-xs btn-primary btn-flat" style="cursor: pointer;"><i class="fa fa-eye"></i> View Mode</button>
			</div>
		</div>
		<hr>
	</div>
	<div class="box-body">
		<div class="row" style="margin: 0;">
			<div class="col-md-3 text-center">
				<br>
				<input type="hidden" id="map-site-id" th:value="${site.id}"/>
				<button id="save-changes" style="margin-bottom: 6px;" onclick="saveChanges()" class="btn btn-success btn-lg btn-flat"><i class="fa fa-save"></i> Save Changes</button>
				<br>
				<button id="export-json" style="margin-bottom: 6px;" onclick="exportToJson()" class="btn btn-primary btn-xs btn-flat" ><i class="fa fa-upload"></i>  Export JSON</button>
				<a id="downloadAnchor" style="display:none"></a>
				<button id="export-image" style="margin-bottom: 6px;" onclick="exportToImage()" class="btn btn-primary btn-xs btn-flat"><i class="fa fa-upload"></i>  Export Image</button>
				<a id="downloadAnchor" style="display:none"></a>
				<br>
				<br>
			</div>
			<div class="col-md-4 text-center well">
				<b><i class="fa fa-image"></i> Background image:</b><br>
				<input type="file" id="file-bg-image" class="form-control" style="display: inline-block; max-width: 220px; margin-bottom: 6px;" />
				<button id="clearBgImage" onclick="clearBackgroundImage()" style="margin-bottom: 6px;" class="btn btn-xs btn-danger btn-flat"><i class="fa fa-times"></i> Clear</button>
				<br><br>
			</div>
			<div class="col-md-2 text-center">
				<br>
				<b style="position: relative; top: -5px;"><i class="fa fa-th"></i> Grid: </b><input type="checkbox" id="chk-grid" onclick="manageGrid()" style="width:20px; height:20px"/>
				<br>
				<button id="resetZoom" onclick="resetZoom()" style="margin-bottom: 6px;" class="btn btn-primary btn-xs btn-flat"><i class="fa fa-search"></i> Reset Zoom</button>
				<br>
				<button id="undo" style="margin-bottom: 6px;" onclick="undo()" class="btn btn-primary btn-xs btn-flat"><i class="fa fa-undo"></i> Undo</button>
				<button id="redo" style="margin-bottom: 6px;" onclick="redo()" class="btn btn-primary btn-xs btn-flat">Redo <i class="fa fa-repeat"></i> </button>
				<br><br>
			</div>
			<div class="col-md-3 text-center">
				<button id="demoJcb" style="margin-bottom: 6px; min-width: 195px; text-align: left;" class="btn btn-warning btn-xs btn-flat" onclick="demoJcbAnomalies()"><i class="fa fa-bookmark"></i> &nbsp; Demo JCB Anomaly</button>
				<button id="demo" style="margin-bottom: 6px; min-width: 195px; text-align: left;" class="btn btn-warning btn-xs btn-flat" onclick="demoPanelStringAnomalies()"><i class="fa fa-bookmark"></i> &nbsp; Demo String Anomaly</button>
				<button id="demoPanelAnomalies" style="margin-bottom: 6px; min-width: 195px; text-align: left;" class="btn btn-warning btn-xs btn-flat" onclick="demoAnomalies()"><i class="fa fa-bookmark"></i> &nbsp; Demo Panel Anomaly</button>
				<button id="demo-clear" style="margin-bottom: 6px; min-width: 195px; text-align: left;" class="btn btn-warning btn-xs btn-flat" onclick="clearAnomalies()"><i class="fa fa-bookmark"></i> &nbsp; Clear Anomalies</button>
				<!-- <button id="disable-edit" style="margin-bottom: 6px; min-width: 185px; text-align: left;" class="btn btn-warning btn-xs btn-flat" onclick="disableEditing()"><i class="fa fa-bookmark"></i> &nbsp; Disable Editing</button> -->
				<button id="show-errors" style="margin-bottom: 6px; min-width: 195px; text-align: left;" class="btn btn-danger btn-xs btn-flat" onclick="showErrors()"><i class="fa fa-eye"></i> &nbsp; Show Errors</button>
				<br><br>
			</div>
		</div>
		
		<hr>

		<div class="row" style="margin: 0;">
			<div class="col-md-2">
				<!-- <button id="addLandArea" style="text-align: left; padding-left: 15px;" class="btn btn-success btn-xs btn-flat btn-block" onclick="addLandArea()">
					<i class="fa fa-plus"></i> &nbsp;&nbsp;Add Land Area
				</button>
				<button id="edit-land" style="text-align: left; padding-left: 15px;" class="btn btn-warning btn-xs btn-flat btn-block" onclick="editLandArea()">
					<i class="fa fa-pencil-square-o"></i> &nbsp;&nbsp;Edit Land Area
				</button> -->
				<button id="add-panel-array" style="text-align: left; padding-left: 15px;" class="btn btn-success btn-xs btn-flat btn-block" onclick="showModal()" >
					<i class="fa fa-plus"></i> &nbsp;&nbsp;Add Panel Array
				</button>
				<button id="add-pcs" style="text-align: left; padding-left: 15px;" class="btn btn-success btn-xs btn-flat btn-block" onclick="addPcs()">
					<i class="fa fa-plus"></i> &nbsp;&nbsp;Add PCS
				</button>
				<button id="add-camera" style="text-align: left; padding-left: 15px;" class="btn btn-success btn-xs btn-flat btn-block" onclick="addCamera()">
					<i class="fa fa-plus"></i> &nbsp;&nbsp;Add Camera
				</button>
				<button id="add-jcb" style="text-align: left; padding-left: 15px;" class="btn btn-success btn-xs btn-flat btn-block" onclick="addJcb()">
					<i class="fa fa-plus"></i> &nbsp;&nbsp;Add JCB
				</button>
				<button id="add-gps" style="text-align: left; padding-left: 15px;" class="btn btn-success btn-xs btn-flat btn-block" data-toggle="modal" data-target="#gpsModal">
					<i class="fa fa-plus"></i> &nbsp;&nbsp;Add GPS
				</button>
				<button id="delete" style="text-align: left; padding-left: 15px;" class="btn btn-danger btn-xs btn-flat btn-block" onclick="deleteItem()">
					<i class="fa fa-trash"></i> &nbsp;&nbsp;Delete Object
				</button>
				<button id="clear" style="text-align: left; padding-left: 15px;" class="btn btn-danger btn-xs btn-flat btn-block" onclick="clearAll()">
					<i class="fa fa-times"></i> &nbsp;&nbsp;Clear All
				</button>
				<!-- <button id="track-emp" style="text-align: left; padding-left: 15px;" class="btn btn-success btn-xs btn-flat btn-block" onclick="trackEmp()">
					<i class="fa fa-map-marker"></i> &nbsp;&nbsp;Track Employees
				</button> -->
				<button id="nearByEngineer" style="text-align: left; padding-left: 15px;" class="btn btn-primary btn-xs btn-flat btn-block" onclick="showNearByEngineers()">
					<i class="fa fa-eye"></i> &nbsp;&nbsp;Show Engineers
				</button>
				<button id="hideNearByEngineer" style="text-align: left; padding-left: 15px;" class="btn btn-primary btn-xs btn-flat btn-block" onclick="hideNearByEngineers()">
					<i class="fa fa-eye-slash"></i> &nbsp;&nbsp;Hide Engineers
				</button>
				<!-- <button id="add-gps" onclick="addGps()">Add GPS</button> -->
				<br><br>
			</div>
			<div class="col-md-8">
				<div id="canvas-base">
					<canvas id="canvas" style="border:1px solid #ccc"></canvas>
					<div id="div-device-info"></div>
				</div>
				<br><br>
			</div>
			<div id="dabx2" class="col-md-2" style="overflow-y: auto;">
				<h4 class="text-center text-success"><i class="fa fa-th-large"></i> Devices</h4>
				<hr>
				<table class="table table-stripped table-condensed-custom" id="tbl_item">
					<tbody id="tbody-objects"></tbody>
				</table>
				<br>
				<br>
			</div>
		</div>

		<br>
		<br>
		
		<!-- 		
		<div class="col-md-2">
				
			</div>
			<div class="col-md-8"><table class="table table-bordered table-hover"><tr><td>
			</td></tr></table></div>
			<div class="col-md-2">
				<div class="row">
					<div class="col-md-12">
						<h5></h5>
					</div>
					<div style="height: 450px; overflow-y: auto;">
						
					</div>
				</div>
				<br /> <br />
				<div class="row">
					<div class="col-md-12" id="div-device-info"></div>
				</div>
			</div>
		</div> -->

		<script type="text/javascript">
			var from = 0;
			var working = false;

			$(document).ready(function(){
				loadTreeData(from);
			});

			function loadTreeData(from) {
				var working = true;

				$.ajax({
		        	  url: "/site/" + [[${site.id}]] + "/devices/" + from + "/1",
		              type: 'GET',
		              contentType: false,
		              processData: false,
		              dataType: 'json',
		              success: function(data){
		            	appendTreeData(data).then(function() {
							updateStrInMap().then(function() {
								working = false;          	 
							});
						});
		              },
				});
				
				return working;
			}

			jQuery(function($) {
				$('#dabx2').on('scroll', function() {
					if($(this).scrollTop() + $(this).innerHeight() >= ($(this)[0].scrollHeight - 25)) {
						
						
						if (!working) {
							loadTreeData(++from);
							//alert('end reached');
							//console.log(from);

						}

					}
				})
			});
			
			function appendTreeData(data){
				var dfd = new $.Deferred();

				console.log(data);
				$.each(data, function(i, pcs) {
					$.each(pcs['jcbs'],function(k,jcb) {
               			var jcbTr = $('<tr/>');
               			jcbTr.append('<td class="object jcb" id="'+jcb.id+'">JCB-'+jcb.objectId+'</td>');
               			$('#tbody-objects').append(jcbTr);
               			var strArray=[];
               			$.each(jcb['panelStrings'],function(l,panelString) {
                			var strTr = $("<tr/>");
                			strTr.append("<td/>");
                   			var strTd = $('<td class="object str" id="'+panelString.id+'"/>')
                               .text('STR-'+panelString.objectId)
                               .appendTo(strTr);
                   			$('#tbody-objects').append(strTr);
                   			strArray.push(panelString);
                   			
                      			var panelArray=[];
                   			$.each(panelString['panels'],function(l,panel) {
                       			var panelTr = $("<tr/>");
                       			panelTr.append("<td/>").append("<td/>");
                       			var panelTd = $('<td class="object panel" id="'+panel.id+'"/>')
                                   .text('Panel-'+panel.objectId)
                                   .appendTo(panelTr);
                       			$('#tbody-objects').append(panelTr);
                       			panelArray.push(panel);
                   			});
                       		strMap[panelString.id]=panelArray;
               			});
               			jcbMap[jcb.id]=strArray;
               			//jcbTd.append(strTr);
               			//jcbTr.append(jcbTd);
               			//$('#tbody-objects').append(jcbTr);
               			
               			
                	});
              	});
				//console.log(jcbMap);
				//ul-jcb

				dfd.resolve();
				return dfd.promise();
			}
			
			function clearBackgroundImage(){
				clearCanvasBackgroundImage();
				$('#file-bg-image').val('');
			}
			
		</script>

</div>