<th:block lang="en" xmlns:th="https://www.thymeleaf.org"
	th:fragment="main">

	<div id="scFormModel" class="w3-modal">
		<div class="w3-modal-content w3-animate-zoom" style="max-width: 800px">
			<header class="w3-container">
				<div class="box-header with-border" align="center">
					<span
						onclick="document.getElementById('scFormModel').style.display='none'"
						class="w3-button w3-display-topright">&times;</span>
					<h3 class="box-title" th:text=#{scAdd.title}></h3>
				</div>
			</header>
			<div class="box box-primary">

				<form role="form" id="scData" method="POST"
					th:object="${serviceCenter}"
					th:action="@{${scUrl} + '/saveUpdate'}">
					<div class="box-body">
						<div class="col-md-6">
							<input type="hidden" id="id" name="id" />
							<div class="form-group" align="left">
								<th:block th:text=#{scAdd.scId} />
								<input type="text" class="form-control" th:field="*{code}">
							</div>
							<div class="form-group" align="left">
								<th:block th:text=#{scAdd.scName} />
								<input type="text" class="form-control" th:field="*{name}">
							</div>
							<div class="form-group" align="left">
								<th:block th:text=#{scAdd.email} />
								<input type="email" class="form-control" th:field="*{email}">
							</div>
							<div class="form-group" align="left">
								<th:block th:text=#{scAdd.tel} />
								<input type="tel" class="form-control"
									th:field="*{contactNumber}" placeholder="000-000-000"
									pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}">
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group" align="left">
								<th:block th:text=#{scAdd.address} />
								<input type="text" class="form-control" th:field="*{address}">
							</div>
							<div class="form-group" align="left">
								<th:block th:text=#{scAdd.region} />
								<select class="form-control" th:field="*{region}" id="region1">
									<option value="0" th:text=#{scAdd.selectRegion} ></option>
									<option th:each="region : ${regions}" th:text="${region.region}"
										th:value="${region.region}"  >
								</select>
								
							</div>
							<div class="form-group" align="left">
								<th:block th:text=#{scAdd.prefecture} />
								<select class="form-control" th:field="*{prefecture}" id="prefecture1">
									<option value="0" th:text=#{scAdd.selectPrefecture}></option>
									<option th:each="prefecture : ${prefectures}" th:text="${prefecture.prefecture}"
										th:value="${prefecture.prefecture}">
								</select>
							</div>
							<!-- <div class="form-group" align="left" hidden>
								<th:block th:text=#{scAdd.prefecture} />
								<select class="form-control" th:field="*{prefecture}" id="prefecture2">
									<option th:each="prefecture : ${prefectures}" th:text="${prefecture.prefecture}"
										th:value="${prefecture.id}">
										
								</select>
							</div> -->
						</div>
					</div>

					<div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
						<button
							onclick="document.getElementById('scFormModel').style.display='none'"
							type="button" class="w3-button w3-red">
							<span th:text=#{common.cancel}></span>
						</button>
						<input type="submit" id="sc_save_button"
							class="w3-button w3-green" th:value=#{common.submit}>

					</div>
				</form>
			</div>
		</div>
	</div>

</th:block>