<th:block lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="main">
	<script>
		$(document).ready(function() {
			loadSCTable();
			resizeHandler($('#service_center_table'));
			document.addEventListener('keypress', function(event) {
				if (event.keyCode == 13) {
					loadSCTable();
				}
			});
		});

		function loadSCTable() {

			$('#search_table_div').show();
			var search_key = $.trim($('#search_text').val());
			search_key = search_key.length == 0 ? "-1" : search_key;
			$.ajax({
				url : '[[${baseUrl}]][[${scUrl}]]/data/' + search_key,
				type : "GET",
				success : function(data) {
					if (data != null) {
						setSCTable(data.payload[0]);
					}
				},
				error : function(xhr) {
					toastr.error(MSG_DATA_LOADING_FAIL);
				}
			});

		}

		function setSCTable(list) {
			if ($.isEmptyObject(list)) {
				$('#service_center_table').DataTable().clear();
				$('#service_center_table').DataTable({
					"stateSave" : true,
					'order' : [],
					'columnDefs' : [ {
						"targets" : [ 0, 3, 4, 5, 6 ],
						"orderable" : false
					} ],
					"searching" : true,
					"paging" : true,
					"lengthChange" : true,
					"pageLength" : 5,
					"lengthMenu" : [ 5, 10, 20, 50 ],
					"bInfo" : true,
					"info" : true,
					"buttons" : [],
					"destroy" : true,
					"language" : {
						"emptyTable" : "No Data Found !!!",
						search : "",
						searchPlaceholder : "Search..."
					}
				});
			} else {
				$("#service_center_table")
						.DataTable(
								{
									"stateSave" : true,
									'order' : [],
									'columnDefs' : [ {
										"targets" : [ 0, 3, 4, 5, 6 ],
										"orderable" : false
									} ],
									"searching" : true,
									"paging" : true,
									"lengthChange" : false,
									"pageLength" : 5,
									"lengthMenu" : [ 5, 10, 20, 50 ],
									"bInfo" : false,
									"info" : false,
									"buttons" : [],
									"destroy" : true,
									"data" : list,
									"deferRender" :    false,
							        "scrollY" :        '50vh',
							        "scrollX" :        true,
							        "scrollCollapse" : true,
							        "scroller" :       true,
							        "keys" :           true,
									"columns" : [
											{
												"width" : "5%",
												"data" : "id",
												render : function(data, type,
														row, meta) {
													return meta.row + 1;
												}
											},
											{
												"width" : "20%",
												"data" : function(data) {
													return data.code;
												}
											},
											{
												"width" : "20%",
												"data" : function(data) {
													return data.name;
												}
											},
											{
												"width" : "20%",
												"data" : function(data) {
													return data.company.name;
												}
											},
											{
												"width" : "10%",
												"data" : function(data) {
													return data.region;
												}
											},
											{
												"width" : "10%",
												"data" : function(data) {
													return data.prefecture;
												}
											},
											{
												"width" : "15%",
												"data" : "id",
												mRender : function(data, type,
														row) {
													
													var columnHtml;
													
													var hasRoleAdmin = [[${#authorization.expression('hasRole("ROLE_ADMIN")')}]];
													
													if(hasRoleAdmin){
														columnHtml = '<a href="[[${scUrl}]]/'+data+'" type="button" class="btn btn-warning btn-xs"> '
																+ '<i class="fa fa-list"></i> '
																+ '</a> '
																+ '<button type="button" class="btn btn-primary btn-xs"'
																+ 'onclick="loadSCFormModel('
																+ data
																+ ' )">'
																+ '<i class="fa fa-pencil-square-o"></i>'
																+ '</button> '
																+ '<button class="btn btn-danger btn-xs sc_delete_button"'+
											'data-id="'+data+'"'+
											'id="sc_delete_button">'
																+ '<i class="fa fa-trash"></i>'
																+ '</button> ';
													}else{
														columnHtml = 'NONE';
													}
														
													return (columnHtml);
												}
											} ]
								});

				$('.sc_delete_button').confirmation({
					onConfirm : function(event, element) {
						scDeleteItem(sc_last_clicked_id);
					},
					onCancel : function(event, element) {
					}
				});
			}
		}

		function loadSCFormModel(id) {
			document.querySelector('#scFormModel .box-title').innerHTML = SERVICE_CENTER + " " + (id ? EDIT : ADD);

			document.querySelector('#scData #id').value = "";
			$("#scData").get(0).reset();
			$("#scData").validate().resetForm();
			$("#scData").find('.form-group').each(function() {
				$(this).removeClass('has-error');
			});

			$('#sc_save_button').attr('disabled', false);

			if (id) {
				$
						.ajax({
							url : "[[${scUrl}]]/" + id + "/data",
							type : "GET",
							success : function(data) {
								if (!data.status) {
									toastr.error(data.errorMessages);
								} else {
									document.querySelector('#scData #id').value = data.payload[0].id;
									document.querySelector('#scData #code').value = data.payload[0].code;
									document
											.querySelector('#scData #name').value = data.payload[0].name;
									document.querySelector('#scData #email').value = data.payload[0].email;
									document
											.querySelector('#scData #contactNumber').value = data.payload[0].contactNumber;
									document.querySelector('#scData #address').value = data.payload[0].address;
									document.querySelector('#scData #region').value = data.payload[0].region;
									document
											.querySelector('#scData #prefecture').value = data.payload[0].prefecture;
								}
							},
							error : function(xhr) {
								toastr.error(MSG_DATA_LOADING_FAIL);
							}
						});
			}

			document.getElementById('scFormModel').style.display = 'block';

		}

		$("#scData")
				.validate(
						{
							rules : {
								"code" : {
									required : true,
									minlength : 4
								},
								"name" : {
									required : true,
									minlength : 4
								},
								"address" : {
									required : true,
									minlength : 4
								},
								"email" : {
									email : true,
									required : true
								},
								"contactNumber" : {
									required : true,
									regx : /^([0-9]{3}-[0-9]{3}-[0-9]{3})$/,
								},
								"region" : {
									required : true,
								},
								"prefecture" : {
									required : true,
								},
							},
							messages : {
								contactNumber : {
									regx : "invalid phone number.{format ex: 000-000-000}",
								},
							},
							submitHandler : function(form) {
								showLoader();

								var formData = $(form).serializeArray();
								if ("[[${companyId}]]") {
									formData.push({
										name : "companyId",
										value : "[[${companyId}]]"
									});
								}

								$('#sc_save_button').attr('disabled', true);
								$
										.ajax({
											url : form.action,
											type : form.method,
											data : formData,
											success : function(data) {
												if (!data.status) {
													$('#sc_save_button').attr(
															'disabled', false);
													hideLoader();
													toastr
															.error(data.errorMessages);
												} else if (form.id.value) {
													loadSCTable();
													document
															.getElementById('scFormModel').style.display = 'none';
													hideLoader();
													toastr
															.success(MSG_RECORD_UPDATED_SUCCESS);
												} else {
													loadSCTable();
													document
															.getElementById('scFormModel').style.display = 'none';
													hideLoader();
													toastr
															.success(MSG_RECORD_SAVED_SUCCESS);
												}
											},
											error : function(xhr) {
												$('#sc_save_button').attr(
														'disabled', false);
												hideLoader();
												toastr
														.error(MSG_DATA_LOADING_FAIL);
											}
										});
							}
						});

		var sc_last_clicked_id = null;
		$(document).on('click', '.sc_delete_button', function(event) {
			sc_last_clicked_id = $(this).data("id");
		});

		function scDeleteItem(id) {
			showLoader();
			if (id) {
				$.ajax({
					url : "[[${scUrl}]]/" + id + "/delete",
					type : "GET",
					success : function(data) {
						if (!data.status) {
							hideLoader();
							toastr.error(data.errorMessages);
						} else {
							loadSCTable();
							hideLoader();
							toastr.success(MSG_RECORD_DELETED_SUCCESS);
						}
					},
					error : function(xhr) {
						hideLoader();
						toastr.error(MSG_DATA_LOADING_FAIL);
					}
				});
			}
		}
		
	</script>
	
	<!-- <script>
		$(document).ready(function() {
		$("#region1").change(function() {
		var val = $(this).val();
		var list= $[{prefectures}];
		console.log("list: "+ list); 
 
		alert(list);
	
		
		

			});
			});
	</script> -->
	


</th:block>