<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:with="parentUrl= ${'/company/'+serviceCenter.companyId+'/service-center'},
	baseUrl = ${'/service-center/'+serviceCenter.id},
	baseText = ${'Service Center'},siteUrl = ${'/site'},
	userUrl = ${'/user'}, assign = true">
<head>
<title><th:block
		th:text="${@environment.getProperty('global.application.title')}+' | '+#{pageTitle.scView}" /></title>
<th:block th:replace="common/head-include :: main"></th:block>

<link rel="stylesheet" th:href="@{/vendor/dual-list-box/icon_font/css/icon_font.css}">
<link rel="stylesheet" th:href="@{/vendor/dual-list-box/css/jquery.transfer.css}">

<script th:src="@{/vendor/dual-list-box/js/jquery.transfer.js}"></script>

<!-- <meta th:name="_csrf" th:content="${_csrf.token}"/>
<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/> -->

</head>
<body class="hold-transition skin-blue sidebar-mini">
	<th:block th:replace="common/loader :: main"></th:block>

	<div class="wrapper">
		<header th:replace="common/header :: main"></header>
		<aside th:replace="common/side-bar :: main"></aside>

		<div class="content-wrapper">
			<section class="content-header">
				<h1 th:text=#{scView.title}></h1>
			</section>

			<section class="content">
				<div class="row">
					<div class="col-md-3">
						<div class="box">

							<div class="box-body p-4">
								<table>
									<tr>
										<td><img th:src="@{/images/center.png}"
											class="img-circle img-responsive center-block"
											alt="Service Center Image"></td>
									</tr>

									<tr>
										<td>&nbsp;</td>
									</tr>

									<tr>
										<td><b><th:block th:text=#{scView.name} /> : <th:block th:text="${serviceCenter.name}" /></b></td>
									</tr>
									<tr>
										<td><br><b><th:block th:text=#{scView.tel} /> : <th:block th:text="${serviceCenter.contactNumber}" /></b></td>
									</tr>
									<tr>
										<td><br><b><th:blockth th:text=#{scView.region} /> : <th:block th:text="${serviceCenter.region}" /></b></td>
									</tr>
									<tr>
										<td><br><b><th:block th:text=#{scView.prefecture} /> : <th:block th:text="${serviceCenter.prefecture}" /></b></td>
									</tr>
								</table>
							</div>

						</div>

					</div>


					<div class="col-md-9">
						<div class="box">
							<div class="box-header">
								<h3 class="box-title" th:text=#{scView.assignedSites}></h3>
								<div class="box-tools">
									<div class="box-tools">
										<div align="right">

											<button class="btn  btn-success btn-xs"
												 th:attr="onclick=|loadSiteAssignFormModel()|">
												<i class=" fa fa-th"></i>
											</button>

										</div>
									</div>
								</div>
							</div>
							<div class="box-body">
								<div id="results-table_wrapper"
									class="dataTables_wrapper form-inline dt-bootstrap table-responsive">
									<table id="site_table" class="table table-bordered table-hover"
										style="width: 100%;">
										<thead>
											<tr>
												<th style="width: 10px">#</th>
												<th><th:block   th:text=#{scView.siteId} /></th>
												<th><th:block   th:text=#{scView.siteName} /></th>
												<th><th:block   th:text=#{scView.company} /></th>
												<th><th:block   th:text=#{scView.region} /></th>
												<th><th:block   th:text=#{scView.prefecture} /></th>
												<th><th:block   th:text=#{common.actions} /></th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-3"></div>

					<div class="col-md-9">
						<div class="box">
							<div class="box-header with-border">
								<h3 class="box-title" th:text=#{scView.assignedUsers}></h3>
								<div class="box-tools">
									<div class="box-tools">
										<div align="right">

											<button class="btn  btn-info btn-xs "
												th:attr="onclick=|loadUserAssignFormModel()|">
												<i class="fa fa-user-plus"></i>
											</button>

										</div>
									</div>
								</div>
							</div>
							<div class="box-body">
								<div id="results-table_wrapper"
									class="dataTables_wrapper form-inline dt-bootstrap table-responsive">
									<table id="user_table" class="table table-bordered table-hover"
										style="width: 100%;">
										<thead>
											<tr>
												<th style="width: 10px">#</th>
												<th th:text=#{scView.userId}></th>
												<th th:text=#{scView.userName}></th>
												<th th:text=#{scView.company}></th>
												<th th:text=#{scView.tel}></th>
												<th th:text=#{scView.email}></th>
												<th th:text=#{scView.userType} th:if="assign"></th>
												<th th:text=#{common.actions}></th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div>


			</section>
		</div>

		<!-- <footer th:replace="common/footer :: main"></footer> -->

	</div>


	<div id="siteAssignFormModel" class="w3-modal">
		<div class="w3-modal-content w3-animate-zoom" style="max-width: 800px">
			<header class="w3-container">
				<div class="box-header with-border" align="center">
					<h3 class="box-title" th:text=#{scView.assignSites}></h3>
					<span
						onclick="document.getElementById('siteAssignFormModel').style.display='none'"
						class="w3-button w3-display-topright">&times;</span>
				</div>
			</header>
			<form class="w3-container" action="">
				<div class="box box-primary">

					<div id="transfer4" class="w3-container transfer-demo"></div>

					<div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
						<button
							onclick="document.getElementById('siteAssignFormModel').style.display='none'"
							type="button" class="w3-button w3-red"><span th:text=#{common.cancel}></span></button>
						<button id="site_assign_save_button"
							th:attr="onclick=|submitSiteAssignFormModel()|"
							type="button" class="w3-button w3-green"><span th:text=#{common.submit}></span></button>
					</div>

				</div>
			</form>
		</div>
	</div>
	
	<div id="userAssignFormModel" class="w3-modal">
		<div class="w3-modal-content w3-animate-zoom"
			style="max-width: 800px">
			<header class="w3-container">
				<div class="box-header with-border" align="center">
				<span
					onclick="document.getElementById('userAssignFormModel').style.display='none'"
					class="w3-button w3-display-topright">&times;</span>
					<h3 class="box-title" th:text=#{scView.assignUsers}></h3>
				</div>
			</header>

			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#home"><b th:text=#{scView.managers}></b></a></li>
				<li><a data-toggle="tab" href="#menu1"><b th:text=#{scView.supervisors}></b></a></li>
				<li><a data-toggle="tab" href="#menu2"><b th:text=#{scView.employees}></b></a></li>

			</ul>

			<div class="tab-content">
				<div id="home" class="tab-pane fade in active">
					<form class="w3-container" action="">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title" th:text=#{scView.addManagers}></h3>
							</div>
							
							<div id="managersTransfer" class="transfer-demo"></div>

							<div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
								<button
									onclick="document.getElementById('userAssignFormModel').style.display='none'"
									type="button" class="w3-button w3-red"><span th:text=#{common.cancel}></span></button>
								<button id="site_assign_save_button"
									th:attr="onclick=|submitUserAssignFormModel('managers')|"
									type="button" class="w3-button w3-green"><span th:text=#{common.submit}></span></button>
							</div>

						</div>
					</form>
				</div>
				<div id="menu1" class="tab-pane fade">
					<form class="w3-container" action="">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title" th:text=#{scView.addSupervisors}></h3>
							</div>
							
							<div id="supervisorsTransfer" class="transfer-demo"></div>

							<div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
								<button
									onclick="document.getElementById('userAssignFormModel').style.display='none'"
									type="button" class="w3-button w3-red"><span th:text=#{common.cancel}></span></button>
								<button id="site_assign_save_button"
									th:attr="onclick=|submitUserAssignFormModel('supervisors')|"
									type="button" class="w3-button w3-green"><span th:text=#{common.submit}></span></button>
							</div>

						</div>
					</form>
				</div>
				<div id="menu2" class="tab-pane fade">
					<form class="w3-container" action="">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title" th:text=#{scView.addEmployees}></h3>
							</div>
							
							<div id="employeeTransfer" class="transfer-demo"></div>

							<div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
								<button
									onclick="document.getElementById('userAssignFormModel').style.display='none'"
									type="button" class="w3-button w3-red"><span th:text=#{common.cancel}></span></button>
								<button id="site_assign_save_button"
									th:attr="onclick=|submitUserAssignFormModel('employees')|"
									type="button" class="w3-button w3-green"><span th:text=#{common.submit}></span></button>
							</div>
						</div>
					</form>
				</div>

			</div>

		</div>
	</div>

	<th:block th:replace="site/form :: main"></th:block>
	<th:block th:replace="user/form :: main"></th:block>

	<th:block th:replace="common/js-include :: main"></th:block>

	<th:block th:replace="site/script :: main"></th:block>
	<th:block th:replace="user/script :: main"></th:block>

	<script>
		$('#msbi_service_center').addClass('active');
	</script>
	
	<script type="text/javascript">
		var dataArray1 = [ {
			"key" : "E001 - John Doe",
			"value" : 132
		}, {
			"key" : "E002 - Aron Hash",
			"value" : 422
		}, {
			"key" : "E003 - Calvin Eddy",
			"value" : 232
		}, {
			"key" : "E004 - Dan Fabe",
			"value" : 765
		}, {
			"key" : "E005 - Henrry Harold",
			"value" : 876
		}, {
			"key" : "E006 - Elvis Ned",
			"value" : 876
		}, {
			"key" : "E007 - Earvin Gene",
			"value" : 876
		}, {
			"key" : "E008 - Emery Kate",
			"value" : 876
		}, {
			"key" : "E009 - Jeffry Glene",
			"value" : 876
		}, {
			"key" : "E010 - Hillie Parke",
			"value" : 876
		} ];

		var settings1 = {
			"dataArray" : dataArray1,
			"itemName" : "key",
			"valueName" : "value",
			"tabNameText" : NAMES,
			"rightTabNameText" : SELECTED_NAMES,
			"callable" : function(items) {
				console.dir(items)
			}
		};

		$("#transfer1").transfer(settings1);
	</script>
	<script type="text/javascript">
		var dataArray1 = [ {
			"key" : "S001 - Lix Barrye ",
			"value" : 132
		}, {
			"key" : "S002 - Alex Bert ",
			"value" : 422
		}, {
			"key" : "S003 - Alvin Vinny ",
			"value" : 232
		}, {
			"key" : "S004 - Alfred Alexander ",
			"value" : 765
		}, {
			"key" : "S005 - Alister Lonnie ",
			"value" : 876
		} ];

		var settings1 = {
			"dataArray" : dataArray1,
			"itemName" : "key",
			"valueName" : "value",
			"tabNameText" : NAMES,
			"rightTabNameText" : SELECTED_NAMES,
			"callable" : function(items) {
				console.dir(items)
			}
		};

		$("#transfer2").transfer(settings1);
	</script>
	<script type="text/javascript">
		var dataArray1 = [ {
			"key" : "M001 - Ben Bert ",
			"value" : 132
		}, {
			"key" : "M002 - Ronny Brette ",
			"value" : 422
		}, {
			"key" : "M003 - Carl Kasey ",
			"value" : 232
		}, {
			"key" : "M004 - Daniel Rick ",
			"value" : 765
		}, {
			"key" : "M005 - Edwin Alton ",
			"value" : 876
		} ];

		var settings1 = {
			"dataArray" : dataArray1,
			"itemName" : "key",
			"valueName" : "value",
			"tabNameText" : NAMES,
			"rightTabNameText" : SELECTED_NAMES,
			"callable" : function(items) {
				console.dir(items)
			}
		};

		$("#transfer3").transfer(settings1);
	</script>
	
	<script type="text/javascript">
	
		$(document).ready(function() {
			
		});
		
		function loadUserAssignFormModel() {			
			loadUsers();
			$('#user_assign_save_button').attr('disabled', false);
			document.getElementById('userAssignFormModel').style.display = 'block';
		}
	
		function loadUsers() {
	
			$.ajax({
				url : '[[${baseUrl}]][[${userUrl}]]/data/' + SERACH_KEY_NOT_ASSIGNED,
				type : "GET",
				success : function(data) {
					if (data != null) {
						$("#managersTransfer").html("");
						$("#supervisorsTransfer").html("");
						$("#employeeTransfer").html("");
						setUsers(data.payload[0]);
					}
				},
				error : function(xhr) {
					toastr.error(MSG_DATA_LOADING_FAIL);
				}
			});
	
		}
		var managersTransfer;
		var supervisorsTransfer;
		var employeeTransfer;
		
		function setUsers(data){
			var dataArrayUsers= data;
	
			var settingsUsers = {
				"dataArray" : dataArrayUsers,
				"itemName" : "name",
				"valueName" : "id",
				"tabNameText" : NAMES,
				"rightTabNameText" : SELECTED_NAMES,
				"callable" : function(items) {
					console.dir(items)
				}
			};
	
			managersTransfer = $("#managersTransfer").transfer(settingsUsers);
			supervisorsTransfer = $("#supervisorsTransfer").transfer(settingsUsers);
			employeeTransfer = $("#employeeTransfer").transfer(settingsUsers);
		}
		
		function submitUserAssignFormModel(type){

			var transfer;
			
			if(type == 'managers') { transfer = managersTransfer }
			else if(type == 'supervisors') { transfer = supervisorsTransfer }
			else { transfer = employeeTransfer }
			
			if(transfer.getSelectedItems().length > 0){
			showLoader();

			let token = $("meta[name='_csrf']").attr("content");
		    let header = $("meta[name='_csrf_header']").attr("content");

			$('#user_assign_save_button').attr('disabled', true);
			$
					.ajax({
						url : '[[${baseUrl}]][[${userUrl}]]/saveUpdate/'+type,
						type : 'POST',
						data : JSON.stringify(transfer.getSelectedItems()),
						headers: {
				            [header]: token,
				            "charset": "UTF-8",
				            "Content-Type": "application/json"
				        },
						success : function(data) {
							if (!data.status) {
								$('#user_assign_save_button').attr(
										'disabled', false);
								hideLoader();
								toastr
										.error(data.errorMessages);
							} else {
								loadUserTable();
								document
										.getElementById('userAssignFormModel').style.display = 'none';
								hideLoader();
								toastr
										.success(MSG_RECORD_SAVED_SUCCESS);
							}
						},
						error : function(xhr) {
							$('#user_assign_save_button').attr(
									'disabled', false);
							hideLoader();
							toastr
									.error(MSG_DATA_LOADING_FAIL);
						}
					});
			}else{
				console.log(transfer.getSelectedItems());
			}
			
		}
	</script>
	
	<script type="text/javascript">
	
		$(document).ready(function() {
			
		});
		
		function loadSiteAssignFormModel() {			
			loadSites();
			$('#site_assign_save_button').attr('disabled', false);
			document.getElementById('siteAssignFormModel').style.display = 'block';
		}
	
		function loadSites() {
	
			$.ajax({
				url : '[[${baseUrl}]][[${siteUrl}]]/data/' + SERACH_KEY_NOT_ASSIGNED,
				type : "GET",
				success : function(data) {
					if (data != null) {
						$("#transfer4").html("");
						setSites(data.payload[0]);
					}
				},
				error : function(xhr) {
					toastr.error(MSG_DATA_LOADING_FAIL);
				}
			});
	
		}
		var siteTransfer;
		function setSites(data){
			var dataArray1= data;
			var site = SITES;
			var selectedsites = SELECTED_SITES;
	
			var settings1 = {
				"dataArray" : dataArray1,
				"itemName" : "displayName",
				"valueName" : "id",
				"tabNameText" : SITES,
				"rightTabNameText" : SELECTED_SITES,
				"callable" : function(items) {
					console.dir(items)
				}
			};
	
			siteTransfer = $("#transfer4").transfer(settings1);
		}
		
		function submitSiteAssignFormModel(){
			
			if(siteTransfer.getSelectedItems().length > 0){
			showLoader();

			let token = $("meta[name='_csrf']").attr("content");
		    let header = $("meta[name='_csrf_header']").attr("content");

			$('#site_assign_save_button').attr('disabled', true);
			$
					.ajax({
						url : '[[${baseUrl}]][[${siteUrl}]]/saveUpdate',
						type : 'POST',
						data : JSON.stringify(siteTransfer.getSelectedItems()),
						headers: {
				            [header]: token,
				            "charset": "UTF-8",
				            "Content-Type": "application/json"
				        },
						success : function(data) {
							if (!data.status) {
								$('#site_assign_save_button').attr(
										'disabled', false);
								hideLoader();
								toastr
										.error(data.errorMessages);
							} else {
								loadSiteTable();
								document
										.getElementById('siteAssignFormModel').style.display = 'none';
								hideLoader();
								toastr
										.success(MSG_RECORD_SAVED_SUCCESS);
							}
						},
						error : function(xhr) {
							$('#site_assign_save_button').attr(
									'disabled', false);
							hideLoader();
							toastr
									.error(MSG_DATA_LOADING_FAIL);
						}
					});
			}else{
				console.log(siteTransfer.getSelectedItems());
			}
			
		}
	</script>

</body>
</html>
