<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:with="siteUrl = ${'/site'},siteText = ${'Site'}, companyId = ''">
<head>
<title><th:block
		th:text="${@environment.getProperty('global.application.title')}+' | '+#{pageTitle.site}" /></title>
<th:block th:replace="common/head-include :: main"></th:block>

</head>
<body class="hold-transition skin-blue sidebar-mini">

	<th:block th:replace="common/loader :: main"></th:block>

	<div class="wrapper">

		<header th:replace="common/header :: main"></header>
		<aside th:replace="common/side-bar :: main"></aside>

		<div class="content-wrapper">
			<section class="content-header">
				<h1 th:text=#{entryExit.Title}></h1>
			</section>

			<section class="content">
				<div class="row">
					<div class="col-xs-12" style="align: center">

						<div class="box box-primary">
							<div class="box-header">
								<div class="row">
									<div class="col-xs-12 dataTables_filter">									
										<form class="form-inline">
											<label> <th:block th:text=#{entryExit.Powerplant} /> :										
													<input type="text" class="form-control" id="site"
														th:placeholder=#{entryExit.PowerplantSearchText}>
											</label>
											<label> <th:block th:text=#{entryExit.Visitors} /> :
													<input type="text" class="form-control" id="user"
														th:placeholder=#{entryExit.VistorsSearchText}>
											</label>
											<input type="button" class="btn btn-primary" th:value="#{entryExit.Search}" id="btnSearch">
											<label class="pull-right" id="recordsCount"></label>
										</form>
									</div>
								</div>
							</div>
							<div class="box-body">
								<div class="table-responsive no-padding">
									<div id="results-table_wrapper"
										class="dataTables_wrapper form-inline dt-bootstrap table-responsive">
										<table id="site_table"
											class="table table-bordered table-hover" style="width: 100%;">
											<thead>
												<tr>
													<th style="width: 10px">#</th>
													<th><th:block th:text=#{entryExit.Powerplant} /></th>
													<th><th:block th:text=#{entryExit.Visitors} /></th>
													<th><th:block th:text=#{entryExit.Arrival} /></th>
													<th><th:block th:text=#{entryExit.Exit} /></th>
													<th><th:block th:text=#{entryExit.Remarks} /></th>
												</tr>
											</thead>
											<tbody id="gps-logs">
												
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="box-footer">								
									<div class="col-xs-12">
										<div class="row">		
											<div class="col-xs-12 text-center">
												<button id="load-more" class="btn btn-primary"><i class="fa fa-angle-down" aria-hidden="true"></i> Load More</button>
												<div class="ajax-load" style="display:none;">
										        	<p><img th:src="@{/images/loader.gif}"><th:block th:text="#{ajaxSearch.LoadingMoreRecords}" /></p>
										        </div>
										        <div id="reach-end"></div>
											</div>    	
									   	</div>	
									   	<script>
									   		var site = '';
									   		var user = '';
									   		var url =	'/entryexit/data?site='+ site +'&user='+ user;
									   		var tableBodyDivId = 'gps-logs';
										   	$("#btnSearch").click( function(e){
										        site = $('#site').val();
										        user = $('#user').val();
									   			url =	'/entryexit/data?site='+ site +'&user='+ user;	
									   			$("#"+tableBodyDivId).empty();
										    });
									   		const rowMap = (entry) => `
											  <td>${entry.siteName}</td>
										   	  <td>${entry.fullName}</td>
										   	  <td>${entry.inTime}</td>
										   	  <td>${entry.outTime}</td>
										   	  <td></td>
										   	`;									   		
									   	</script>								   	
									</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<!-- <footer th:replace="common/footer :: main"></footer> -->
	</div>

	<div class="scroll-to-top scroll-to-target" data-target="html" style="display: block;"><span class="fa fa-long-arrow-up"></span></div>

	<th:block th:replace="common/js-include :: main"></th:block>

	<script>
		$('#msbi_entryexit').addClass('active');
	</script>

</body>
</html>
